<input type="hidden" name="attr_percent_<%= key %>" />
<div class="bar-wrapper fw frow centerv centerh <%= key %>">
  <div class="bar-inner"></div>
  <input
    type="number"
    name="attr_<%= key %>_current"
    placeholder="-"
  />
  <span>/</span>
  <input
    type="number"
    name="attr_<%= key %>_max"
    placeholder="max"
  />
</div>
