<div class="sc-tab knowledge fcol fw">
  <fieldset class="repeating_knowledge">
    <div class="knowledge">
      <h3 class="sc-wname frow fw">
        <input
          type="text"
          class="line-input"
          name="attr_kname"
          placeholder="Connaissance"
        />
        <span>Niv.</span>
        <input type="number" name="attr_klevel" value="0" min="0" />
      </h3>
    </div>
  </fieldset>
</div>
