<div class="sc-tab notes fcol fw">
  <fieldset class="repeating_notes">
    <input type="hidden" name="attr_notes_displayed" />
    <div class="note">
      <h3 class="sc-file fcol">
        <label class="file-icon">
          <input type="checkbox" name="attr_notes_displayed" />
        </label>
        <input
          type="text"
          class="line-input fw"
          name="attr_notename"
          placeholder="Titre"
        />
      </h3>
      <div class="notes-content fcol">
        <h3 class="frow fw">
          <input
            disabled
            type="text"
            name="attr_notename"
            class="line-input"
            placeholder="Sans titre"
          />
          <label class="file-close-button">
            <input type="checkbox" name="attr_notes_displayed" />
          </label>
        </h3>
        <textarea name="attr_notes_text" placeholder="Notes"></textarea>
      </div>
    </div>
  </fieldset>
</div>
