<div class="fw fcol">
  <div class="tabs frow center-v"></div>
  <input type="hidden" name="attr_active_character_tab" value="character" />
  <div class="fw tab infos">
    <%- include('./infos.ejs', { constants }) %>
  </div>
</div>
