<div class="fw fcol">
  <div class="frow fw">
    <label class="form-label">Nom complet :</label>
    <input class="line-input" type="text" name="attr_character_name" />
  </div>
  <div class="frow fw">
    <label class="form-label">Surnom :</label>
    <input class="line-input" type="text" name="attr_character_nickname" />
  </div>
  <div class="frow fw">
    <div class="frow">
      <label class="form-label">Groupe sanguin :</label>
      <select name="attr_blood_type">
        <option value="a+">A+</option>
        <option value="a-">A-</option>
        <option value="b+">B+</option>
        <option value="b-">B-</option>
        <option value="ab+">AB+</option>
        <option value="ab-">AB-</option>
        <option value="o+">O+</option>
        <option value="o-">O-</option>
      </select>
    </div>
  </div>
  <div class="frow"></div>
</div>
