<input type="hidden" name="attr_character_race" />
<input type="hidden" name="attr_character_origin" />
<input type="hidden" name="attr_character_gender" />
<div class="vd-avatar">
  <input
    readonly
    type="number"
    name="attr_protection_total"
    class="avatar-armor armor-bubble"
    title="Armure"
  />
</div>
