<h3 class="vd-aside-title fw">Santé</h3>
<div class="vd-health fw frow">
  <input type="number" name="attr_health_current" value="10" />
  <input type="number" name="attr_health_max" value="4" />
</div>
<hr />
