<div class="fw fcol">
  <h3>Puissance magique</h3>
  <input type="number" class="avatar-bubble" name="attr_magic_power" value="0" />
  <fieldset class="repeating_spells">
    <div class="elt-line spell fcol">
      <input type="hidden" class="toggle-control" name="attr_spell_description_toggle" value="on" />
      <div class="elt-heading frow fw">
        <input class="fw" type="text" name="attr_spell_name" placeholder="Nom de l'armure" />
        <label class="vd-toggle">
          <input type="checkbox" name="attr_armor_description_toggle" checked />
        </label>
      </div>
      <input
        type="number"
        name="attr_spell_cost"
        class="armor-bubble"
        placeholder="0"
        value="0"
        title="Protection"
      />
      <div class="elt-description fw">
        <textarea class="fw" name="attr_spell_description" placeholder="Description"></textarea>
      </div>
    </div>
  </fieldset>
</div>
