<div class="traits-list fw fcol">
  <fieldset class="repeating_traits">
    <div class="trait fw fcol">
      <div class="frow fw">
        <input type="text" class="fw" name="attr_trait_name" placeholder="Nom du trait" />
      </div>
      <textarea name="attr_trait_effects" placeholder="Effets"></textarea>
    </div>
  </fieldset>
</div>
