input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Flex classes */
.sheet-flex-row,
.sheet-flex-col { display: flex; }

.sheet-flex-row { flex-direction: row; }
.sheet-flex-col { flex-direction: column; }

.sheet-flex-middle {
  align-items: center;
  justify-content: center;
}

/* Width classes */
.sheet-full-width { width: 100%; }
.sheet-three-quarters-width { width: 75%; }
.sheet-half-width { width: 50%; }
.sheet-third-width { width: 33%; }
.sheet-quarter-width { width: 25%; }

div.sheet-ipdf-wrapper > div > div.sheet-half-width {
  padding: 0 15px;
  box-sizing: border-box;
}

div.sheet-ipdf-wrapper > h2 {
  text-align: center;
  font-family: 'Candal';
  margin: 50px 0;
}

div.sheet-ipdf-wrapper > *:disabled:hover { cursor: not-allowed; }

div.sheet-ipdf-wrapper > h2.sheet-no-bottom { margin-bottom: 0; }

div.sheet-ipdf-wrapper .btn:not(.pictos) {
  font-family: 'Candal';
}

div.sheet-ipdf-wrapper {
  position: relative;
  width: 800px;
  min-height: 100px;
  background-color: #FFF;
  border: 1px solid #333;
  padding: 5px;
  padding-top: 20px;
  box-sizing: border-box;
  z-index: 1;
}

div.sheet-ipdf-wrapper:before {
  content: " ";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 80px;
  height: 80px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  border-radius: 0 0 0 10px;
  background-color: #FFF;
  z-index: 2;
}

div.sheet-ipdf-wrapper:after {
  content: " ";
  position: absolute;
  top: 39px;
  right: -17px;
  width: 115px;
  height: 1px;
  transform: rotate(45deg);
  background-color: #333;
  z-index: 3;
}

div.sheet-ipdf-wrapper .repcontrol {
  height: 30px;
  padding: 5px;
  box-sizing: content-box;
}

input.sheet-line-input,
select.sheet-line-input {
  font-family: 'Patrick Hand';
  border: none;
  border-bottom: 1px dotted #CCC;
  border-radius: 0;
  font-size: 20px;
}

select[name="attr_character_blood_type"] {
  width: 60px;
  min-width: 60px;
}

input.sheet-line-input {
  font-family: 'Patrick Hand';
  border: none;
  border-bottom: 1px dotted #CCC;
  border-radius: 0;
  font-size: 20px;
  padding-bottom: 0;
}

select.sheet-line-input {
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}

div.sheet-identity-field {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 2px 15px;
  box-sizing: border-box;
}

div.sheet-identity-field.sheet-free-line {
  width: auto;
  justify-content: flex-start;
}

div.sheet-identity-field.sheet-free-line > select.sheet-line-input {
  flex: 0 !important;
}

div.sheet-identity-field > span,
div.sheet-identity-field > p {
  font-family: Courier;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

div.sheet-identity-field > span:not(:first-child) {
  margin-left: 10px;
}

div.sheet-identity-field > span {
  margin-right: 10px;
}

div.sheet-identity-field > span:after {
  content: ":";
}

div.sheet-identity-field > .sheet-line-input:not(.sheet-small),
div.sheet-skill > .sheet-line-input:not(.sheet-small) { flex: 1; }

.sheet-line-input.sheet-small {
  width: 50px !important;
  text-align: center;
}

.sheet-hp-wrapper {
  margin: 10px auto;
  border: none;
}

.sheet-hp-wrapper input[type=number] {
  text-align: center;
}

.sheet-hp-wrapper td {
  padding: 5px;
  box-sizing: border-box;
  font-family: Courier;
  font-size: 13px;
  font-weight: bold;
}

div.sheet-stats-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
}

table.sheet-stats {
  flex: 1;
  border: 1px solid #333;
}

table.sheet-stats:not(:last-child) {
  margin-right: 5px;
}

table.sheet-stats th,
table.sheet-stats td { box-sizing: border-box; }

tbody.sheet-stats-body > tr:last-child > td {
  padding-bottom: 20px;
}

.sheet-stats-title {
  padding: 5px;
  text-align: center;
  font-family: Courier;
  font-weight: bold;
  color: #FFF;
}

td.sheet-stats-title {
  margin-top: 5px;
}

table.sheet-stats.sheet-physical .sheet-stats-title {
  background-color: #F55;
}

table.sheet-stats.sheet-mental .sheet-stats-title {
  background-color: #3AF;
}

table.sheet-stats.sheet-social .sheet-stats-title {
  background-color: #3A3;
}

th.sheet-percent-total {
  text-align: center;
}

div.sheet-percent-wrapper > div {
  position: relative;
}

div.sheet-percent-wrapper > div:before {
  content: "000";
  position: absolute;
  top: 8px;
  left: 4px;
  color: #EEE;
  z-index: 0;
}

div.sheet-percent-wrapper > div > input[type=number] {
  position: relative;
  width: 36px;
  text-align: right;
  border: none;
  background-color: transparent;
  padding: 5px;
  z-index: 1;
}

div.sheet-percent-wrapper > div > input[type=number],
div.sheet-percent-wrapper > div > span {
  margin: 5px 0;
}

div.sheet-percent-wrapper > div > input[type=number],
div.sheet-percent-wrapper > div > span,
div.sheet-percent-wrapper > div:before {
  font-size: 15px;
  font-family: 'Courier';
}

td.sheet-stat-name {
  font-family: Courier;
  font-weight: bold;
  font-size: 16px;
}

td.sheet-stat-name:before {
  content: "* ";
}

table.sheet-stats.sheet-physical .sheet-stat-name:before {
  color: #F00;
}

table.sheet-stats.sheet-mental .sheet-stat-name:before {
  color: #3AF;
}

table.sheet-stats.sheet-social .sheet-stat-name:before {
  color: #3A3;
}

td.sheet-stat-value {
  text-align: center;
}

td.sheet-stat-name,
td.sheet-stat-value { padding: 3px 5px; }

td.sheet-skills-list {
  padding: 5px;
  box-sizing: border-box;
}

div.sheet-skill {
  padding: 5px 0;
  box-sizing: border-box;
}

div.sheet-skill > select {
  width: auto;
  margin: 0 1px;
  font-family: Courier;
  font-weight: bold;
  font-size: 12px;
}

div.sheet-skill > .sheet-line-input {
  font-size: 15px;
  padding-bottom: 5px;
}

/* Traits */

div.sheet-trait {
  position: relative;
  padding: 20px 15px;
  box-sizing: border-box;
}

div.sheet-ipdf-wrapper .repcontainer[data-groupname="repeating_traits"] > .repitem > .sheet-trait:before {
  content: "-----";
  width: 100%;
  text-align: center;
  font-family: Courier;
  font-weight: bold;
}

div.sheet-ipdf-wrapper .repcontainer[data-groupname="repeating_traits"] > .repitem:first-child > .sheet-trait:before {
  opacity: 0;
}

div.sheet-ipdf-wrapper .repcontainer[data-groupname="repeating_traits"] .itemcontrol {
  z-index: 5 !important;
}

div.sheet-ipdf-wrapper .repcontainer[data-groupname="repeating_traits"] .itemcontrol > .btn {
  margin: 5px;
}

div.sheet-trait-description {
  position: relative;
  margin-top: 10px;
}

div.sheet-trait-description > .sheet-underline {
  position: absolute;
  left: 8px;
  right: 8px;
  height: 1.4em;
  border-bottom: 1px dotted #CCC;
  z-index: 0;
}

div.sheet-trait-description > .sheet-underline:nth-child(1) { top: 0; }
div.sheet-trait-description > .sheet-underline:nth-child(2) { top: 1.4em; }
div.sheet-trait-description > .sheet-underline:nth-child(3) { top: 2.8em; }
div.sheet-trait-description > .sheet-underline:nth-child(4) { top: 4.2em; }

div.sheet-trait-description > textarea {
  position: relative;
  resize: none;
  height: 5.6em;
  line-height: 1.4em;
  font-size: 1em;
  padding: 0 8px;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-family: 'Patrick Hand';
  z-index: 1;
}

/* Currencies */

div.sheet-currency-wrapper > input[type=number] {
  width: auto;
  flex-grow: 1;
  text-align: right;
  font-family: 'Courier';
  font-size: 15px;
  padding: 4px;
  border-top: 1px solid transparent;
}

div.sheet-currency-wrapper > input[type=text] {
  width: 30px;
  margin: 5px 0;
  text-align: center;
  font-weight: bold;
}

.sheet-currency-input {
  font-family: 'Candal';
}

/* Weapons */

div.sheet-weapon {
  align-items: flex-start;
  padding: 15px;
  box-sizing: border-box;
}

div.sheet-weapon input[type=text] {
  width: 100%;
  flex: 1;
}

div.sheet-weapon-input > p,
div.sheet-weapon-stats > p {
  margin: 10px;
  margin-bottom: auto;
  font-family: Courier;
  font-weight: bold;
  font-size: 16px;
}

div.sheet-weapon-input {
  margin-right: 10px;
}

div.sheet-weapon-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sheet-is-melee {
  margin-bottom: auto;
  margin-top: 14px;
}

.sheet-is-melee:checked ~ .sheet-weapon-stats-table > thead.sheet-gun-header,
.sheet-is-melee:checked ~ .sheet-weapon-stats-table > tbody.sheet-gun-body,
.sheet-is-melee:checked ~ div.sheet-weapon-input > select[name="attr_gun_template"] {
  display: none;
}

.sheet-is-melee:not(:checked) ~ .sheet-weapon-stats-table > thead.sheet-melee-header,
.sheet-is-melee:not(:checked) ~ .sheet-weapon-stats-table > tbody.sheet-melee-body,
.sheet-is-melee:not(:checked) ~ div.sheet-weapon-input > select[name="attr_melee_template"] {
  display: none;
}

select[name="attr_gun_template"],
select[name="attr_melee_template"] { width: auto; }

table.sheet-weapon-stats-table {
  border: 1px dashed #CCC;
}

table.sheet-weapon-stats-table > thead > tr > th {
  font-family: 'Courier';
  font-weight: bold;
  font-size: 10px;
}

table.sheet-weapon-stats-table > thead > tr > th,
table.sheet-weapon-stats-table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  box-sizing: border-box;
  white-space: nowrap;
}

table.sheet-weapon-stats-table > thead > tr > th,
table.sheet-weapon-stats-table > tbody > tr > td {
  border: 1px solid #CCC;
}

table.sheet-weapon-stats-table .sheet-weapon-name:before {
  content: "*";
  font-family: 'Courier';
  font-weight: bold;
  color: #F55;
}

table.sheet-weapon-stats-table .sheet-weapon-mods:before,
.sheet-armor-mods:before {
  content: "x";
  font-family: 'Pictos';
  font-size: 20px;
  color: #F55;
}

table.sheet-weapon-stats-table select {
  width: auto;
  margin: 0;
}

table.sheet-weapon-stats-table input[type=number] + span {
  font-weight: bold;
  font-family: 'Contrail One';
}

table.sheet-weapon-stats-table > tbody > tr > td input[type=number] {
  width: 26px;
  text-align: center;
  font-family: 'Courier';
  font-weight: bold;
  font-size: 11px;
}

table.sheet-weapon-stats-table input.sheet-line-input {
  margin-bottom: 5px;
  width: 95%;
}

input[type=number].sheet-gun-range {
  width: 40px !important;
}

div.sheet-weapon-stats > input[type=radio] { display: none; }

input[type=number].sheet-firing-rate {
  text-align: center;
  width: 30px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Courier';
}

input[type=number][name="attr_capacity_current"],
input[type=number][name="attr_capacity_max"] {
  width: 35px !important;
}

td.sheet-damage-col input[type=text] {
  width: 55px;
  font-size: 11px;
  text-align: center;
}

td.sheet-damage-col input[type=number] {
  width: 20px;
  font-size: 11px;
  text-align: center;
}

td.sheet-damage-col span {
  font-family: 'Contrail One';
}

td.sheet-damage-col > table { margin: auto; }

td.sheet-damage-col th,
td.sheet-damage-col td {
  text-align: center;
}

td.sheet-damage-col td {
  margin: 0;
}

td.sheet-damage-col td input[type=number] {
  border-radius: 0;
}

td.sheet-damage-col td:first-child input[type=number] {
  border-radius: 5px 0 0 5px;
}

td.sheet-damage-col td:last-child input[type=number] {
  border-radius: 0 5px 5px 0;
}

td.sheet-damage-col td:not(:first-child) input[type=number] {
  border-left: 0;
}

div.sheet-weapon-image {
  position: relative;
  height: 120px;
  margin: 10px 0;
  padding: 10px;
  box-sizing: content-box;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #CCC;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div.sheet-gunshot-rolls {
  display: inline-flex;
}

div.sheet-gunshot-rolls button[type=roll] {
  position: relative;
  outline: none;
}

div.sheet-gunshot-rolls button[type=roll]:before {
  content: '';
}

div.sheet-gunshot-rolls button[type=roll]:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 10px;
  font-family: 'Courier';
  font-size: 7px;
  text-align: center;
}

.sheet-gunshot-button:disabled { display: none; }

div.sheet-gunshot-rolls > div { display: flex; }

.sheet-weapon-firing-control[name="attr_gun_firing_rate_single"][value="0"] ~ div.sheet-gunshot-rolls button.sheet-single-shot:not(:disabled),
.sheet-weapon-firing-control[name="attr_gun_firing_rate_semi"][value="0"] ~ div.sheet-gunshot-rolls button.sheet-semi-auto:not(:disabled),
.sheet-weapon-firing-control[name="attr_gun_firing_rate_full"][value="0"] ~ div.sheet-gunshot-rolls button.sheet-full-auto:not(:disabled) {
  display: none;
}

.sheet-weapon-firing-control[name="attr_gun_firing_rate_single"][value="0"] ~ div.sheet-gunshot-rolls button.sheet-single-shot:disabled,
.sheet-weapon-firing-control[name="attr_gun_firing_rate_semi"][value="0"] ~ div.sheet-gunshot-rolls button.sheet-semi-auto:disabled,
.sheet-weapon-firing-control[name="attr_gun_firing_rate_full"][value="0"] ~ div.sheet-gunshot-rolls button.sheet-full-auto:disabled {
  display: inline;
}

div.sheet-gunshot-rolls button.sheet-single-shot:after {
  content: '•';
  color: #05F;
}

div.sheet-gunshot-rolls button.sheet-semi-auto:after {
  content: '•••';
}

div.sheet-gunshot-rolls button.sheet-full-auto:after {
  content: '•••••';
  color: #C00;
}

div.sheet-gunshot-rolls button:disabled:after {
  color: #AAA !important;
}

div.sheet-gunshot-rolls > div > button {
  height: 10px;
  width: 25px;
  padding: 0 !important;
  margin: 0 0 0 4px !important;
  border-radius: 0;
  border: 1px solid #CCC;
}

div.sheet-gunshot-rolls > div:first-child > button {
  border-radius: 4px 4px 0 0;
}

div.sheet-gunshot-rolls > div:last-child > button {
  border-radius: 0 0 4px 4px;
}

div.sheet-gunshot-rolls > div:not(:first-child) > button {
  border-top: none;
}

/* Rolltemplates */

.sheet-rolltemplate-standard,
.sheet-rolltemplate-standard > table,
.sheet-rolltemplate-gunshot,
.sheet-rolltemplate-gunshot > table {
  width: 100%;
}

.sheet-rolltemplate-standard,
.sheet-rolltemplate-gunshot {
  position: relative;
  background-color: #FFF;
  border: 2px dashed #CCC;
  border-radius: 5px;;
  box-sizing: border-box;
}

.sheet-rolltemplate-standard td,
.sheet-rolltemplate-standard th,
.sheet-rolltemplate-gunshot td,
.sheet-rolltemplate-gunshot th {
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Courier';
}

.sheet-rolltemplate-gunshot .sheet-result-title {
  text-align: left;
  font-weight: bold;
}

.sheet-rolltemplate-gunshot hr,
.sheet-rolltemplate-standard hr {
  margin: 8px 0;
}

.sheet-rolltemplate-gunshot .sheet-result-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.sheet-rolltemplate-gunshot .sheet-result-icon:before {
  font-size: 20px;
  color: #C00;
}

.sheet-rolltemplate-gunshot .sheet-result-icon.sheet-damage:before {
  font-family: 'Pictos Custom';
  content: 't';
}

.sheet-rolltemplate-gunshot .sheet-result-icon.sheet-penetration:before {
  font-family: 'Pictos Custom';
  font-size: 18px;
  content: 'e';
}

.sheet-rolltemplate-gunshot .sheet-result-icon.sheet-shock:before {
  font-family: 'Pictos Three';
  font-size: 21px;
  content: 'j';
}

.sheet-rolltemplate-gunshot .sheet-damage-roll td:last-child,
.sheet-rolltemplate-gunshot .sheet-penetration-roll td:last-child,
.sheet-rolltemplate-gunshot .sheet-shock-roll td:last-child {
  text-align: right;
}

.sheet-rolltemplate-gunshot .sheet-player-fail {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  font-style: italic;
  font-size: 11px;
  line-height: 17px;
  font-family: 'Courier';
}

.sheet-rolltemplate-gunshot .sheet-player-fail-caption {
  width: 100%;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
  text-align: right;
  font-style: italic;
  color: #AAA;
  font-family: 'Courier';
}

.sheet-rolltemplate-gunshot .sheet-player-fail-caption:before {
  content: '- ';
}

.sheet-author-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-family: 'Courier';
  text-align: right;
}

.sheet-armor {
  padding: 20px;
  box-sizing: border-box;
}

.sheet-armor > div > label {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sheet-armor > div > label > span {
  font-family: 'Courier';
  font-size: 12px;
}

.sheet-armor > div > label > input[type=number] {
  width: 30px;
  text-align: center;
}

/* Gun images */

div.sheet-weapon-stats > input[value="a918"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/a918.png');
}

div.sheet-weapon-stats > input[value="altermattspr"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/altermatt_spr.png');
}

div.sheet-weapon-stats > input[value="brak"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/brak.png');
}

div.sheet-weapon-stats > input[value="celica"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/celica.png');
}

div.sheet-weapon-stats > input[value="gepardgpmg"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/gepard_gpgm.png');
}

div.sheet-weapon-stats > input[value="m4400clancy"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/m4400_clancy.png');
}

div.sheet-weapon-stats > input[value="m74g"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/m74g.png');
}

div.sheet-weapon-stats > input[value="m99"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/m-99.png');
}

div.sheet-weapon-stats > input[value="mp200"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/mp200.png');
}

div.sheet-weapon-stats > input[value="p83"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/p83.png');
}

div.sheet-weapon-stats > input[value="rk80"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/rk80.png');
}

div.sheet-weapon-stats > input[value="rk80ct"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/rk80-ct.png');
}

div.sheet-weapon-stats > input[value="scout73"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/scout-73.png');
}

div.sheet-weapon-stats > input[value="snapdragongpgm"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/snapdragon_gpgm.png');
}

div.sheet-weapon-stats > input[value="type72"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/type-72.png');
}

div.sheet-weapon-stats > input[value="type97"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/type-97.png');
}

div.sheet-weapon-stats > input[value="vp84p"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/vp84-p.png');
}

div.sheet-weapon-stats > input[value="williamsm4"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/williams_m4.png');
}

div.sheet-weapon-stats > input[value="xiaofan12"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/xiao-fan_12.png');
}

div.sheet-weapon-stats > input[value="yurei2"]:checked ~ div.sheet-weapon-image {
  background-image: url('https://fpilot.fr/ipdf/guns/yurei_II.png');
}
