<% const leftFields = {
  character_name: {
    type: 'text',
    title: 'Name'
  },
  homeworld: {
    type: 'text',
    title: 'Homeworld'
  },
  background: {
    type: 'text',
    title: 'Background'
  },
  role: {
    type: 'text',
    title: 'Role'
  }
} %>
<% const rightFields = {
  gender: {
    type: 'text',
    title: 'Gender',
    classes: ['tqw']
  },
  age: {
    type: 'number',
    title: 'Age',
    classes: ['qw'],
    min: 0
  },
  complexion: {
    type: 'text',
    title: 'Complexion'
  },
  build: {
    type: 'text',
    title: 'Build'
  },
  eyes: {
    type: 'text',
    title: 'Eyes',
    classes: ['hw']
  },
  hair: {
    type: 'text',
    title: 'Hair',
    classes: ['hw']
  }
} %>
<% const bottomFields = {
  superstitions: {
    type: 'text',
    title: 'Superstitions'
  },
  quirks: {
    type: 'text',
    title: 'Quirks'
  }
} %>
<div class="frow fw pgv">
  <div class="tw frow fwrap topv">
    <%- include('../components/characterInputs.ejs', { constants, fields: leftFields }) %>
  </div>
  <div class="tw inquisitionlogo"></div>
  <div class="tw frow fwrap topv">
    <%- include('../components/characterInputs.ejs', { constants, fields: rightFields }) %>
  </div>
</div>
<hr class="separator-main" />
<div class="fw frow fwrap topv">
  <%- include('../components/characterInputs', { constants, fields: bottomFields }) %>
</div>
<div class="ttw frow fwrap">
  <% Object.entries(constants.stats).forEach(([key, stat]) => { %>
    <div class="hw">
      <%- include('../components/statBlock.ejs', { constants, key, stat }) %>
    </div>
  <% }) %>
</div>
