<div class="fcol fw">
  <div class="frow fw">
    <%- include('../components/perks/skills.ejs', { constants }) %>
  </div>
  <h2 class="section-title fw">Traits</h2>
  <%- include('../components/perks/traits.ejs', { constants }) %>
</div>
