/*
**  Global classes
*/

div.sheet-bm-sheet {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

div.sheet-bm-header {
  border-bottom: 2px solid #AAA;
}

label {
  width: auto;
  padding: 4px 0;
}

input[type=text] {
  padding: 3px;
}

label,
input[type=text] {
  margin: 10px 0;
}

input[type=number] {
  margin-left: 5px;
  margin-right: 5px;
}

.sheet-info-input {
  width: 80%;
}

.sheet-top-wrapper {
  width: 100%;
}

.sheet-top-wrapper > div {
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
}

/*
**  Rolltemplates
*/

.sheet-rolltemplate-carac table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #333;
}

.sheet-rolltemplate-carac th {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.6);
}

.sheet-rolltemplate-carac td,
.sheet-rolltemplate-carac th {
  padding: 8px;
  box-sizing: border-box;
}

.sheet-rolltemplate-carac tr:nth-child(odd) > td {
  background-color: #FFF;
}

.sheet-rolltemplate-carac tr:nth-child(even) > td {
  background-color: #EEE;
}

.sheet-rolltemplate-carac td:nth-child(1) {
  font-weight: bold;
  text-align: left;
}

.sheet-rolltemplate-carac td:nth-child(2) {
  text-align: center;
}

/*
**  Titles
*/

h1, h2 {
  width: 100%;
  text-align: center;
}

/*
**  Flex classes
*/

.sheet-flex-row,
.sheet-flex-col { display: flex; }

.sheet-flex-row { flex-direction: row; }
.sheet-flex-col { flex-direction: column; }

.sheet-flex-row.sheet-center-h,
.sheet-flex-col.sheet-center-v { justify-content: center; }

.sheet-flex-row.sheet-center-v,
.sheet-flex-col.sheet-center-h { align-items: center; }

.sheet-flex-up { flex: 1; }

/*
**  Images classes
*/

.sheet-img-wrapper {
  max-width: 100%;
  max-height: 100%;
}

/*
**  Caracs classes
*/

table.sheet-caracs {
  width: 100%;
}

table.sheet-caracs > thead > tr:not(.sheet-head-maj) > th {
  padding: 4px;
  box-sizing: border-box;
}

table.sheet-caracs > thead > tr:not(.sheet-head-sub):not(.sheet-head-maj) > th {
  font-size: 1.2em;
}

table.sheet-caracs > tbody > tr > td {
  padding: 4px;
  box-sizing: border-box;
  text-align: right;
}

table.sheet-caracs > tbody > tr > td > input[type=number]:disabled {
  border: none;
  font-weight: bold;
  text-align: right;
}

table.sheet-caracs > tbody > tr:not(.sheet-row-fact) > td > input[type=number]:disabled {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
}

th.sheet-head-phy,
th.sheet-head-men,
th.sheet-head-soc,
td.sheet-body-phy,
td.sheet-body-men,
td.sheet-body-soc {
  color: rgba(0, 0, 0, 0.6);
}

th.sheet-head-phy > input:disabled,
th.sheet-head-men > input:disabled,
th.sheet-head-soc > input:disabled {
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-align: right;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

th.sheet-head-phy > input:disabled,
th.sheet-head-phy > span,
th.sheet-head-men > input:disabled,
th.sheet-head-men > span,
th.sheet-head-soc > input:disabled,
th.sheet-head-soc > span {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: sans-serif;
  font-weight: bold;
}

tr.sheet-row-bon > td {
  padding-top: 0 !important;
}

tr.sheet-row-bon > td > input {
  width: 2em;
}

tr.sheet-row-bon > td:before {
  content: "+/-";
  font-weight: bold;
}

tr.sheet-row-tot {
  border-top: 1px solid #333;
}

/* Colors */

th.sheet-head-phy,
td.sheet-body-phy,
.sheet-rolltemplate-carac th.sheet-head-phy {
  background-color: #f6b26b;
}

th.sheet-head-men,
td.sheet-body-men,
.sheet-rolltemplate-carac th.sheet-head-men {
  background-color: #6fa8dc;
}

th.sheet-head-soc,
td.sheet-body-soc,
.sheet-rolltemplate-carac th.sheet-head-soc {
  background-color: #93c47d;
}

tr.sheet-head-maj > th {
  color: rgba(255, 255, 255, 0.6);
}

tr.sheet-head-maj > th.sheet-head-phy {
  background-color: #e69138;
}

tr.sheet-head-maj > th.sheet-head-men {
  background-color: #3d85c6;
}

tr.sheet-head-maj > th.sheet-head-soc {
  background-color: #6aa84f;
}

.sheet-row-fact > td > input:disabled {
  background-color: transparent;
  border: none;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  box-shadow: none;
}

/* Major and Sub */

tr.sheet-head-maj > th {
  padding: 10px 4px;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: bold;
}

tr.sheet-head-sub > th {
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
}
