<fieldset class="repeating_<%= name %>weapons">
  <div class="fw weapon pg">
    <div class="fw weapon-inner fcol pg">
      <%- include(`./${name}.ejs`, { constants, name }) %>
    </div>
  </div>
</fieldset>