<div class="skills-wrapper fw">
  <% Object.entries(constants.skills).sort(constants.fn.sortByValueKey('name')).forEach(([key, skill]) => { %>
    <div class="elt-line frow">
      <div class="elt-name fcol">
        <strong><%= skill.name %></strong>
        <span><%= skill.description %></span>
      </div>
      <input type="number" name="attr_skill_<%= key %>_level" value="0" />
    </div>
  <% }) %>
</div>
