.dh-wrapper {
  position: relative;
  width: 800px;
  margin-top: 45px;
  font-family: 'Garamond';
}

.dh-wrapper * {
  box-sizing: border-box;
}

.dh-wrapper select {
  margin: 0;
}

.dh-avatar {
  position: absolute;
  top: -65px;
  right: -17px;
  height: 250px;
  width: 202px;
  transform: rotate(6deg);
  z-index: 10;
}

.dh-avatar:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://github.com/FalconPilot/roll20-sheets/blob/master/sheets/dark-heresy-v2/gui/photo-frame.png?raw=true');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
}

.dh-avatar-inner {
  height: 180px;
  width: 180px;
  margin-bottom: 30px;
  background-color: #111;
}

.dh-avatar > img {
  max-width: 100%;
  max-height: 100%;
}

.dh-inner {
  background-image: url('https://github.com/FalconPilot/roll20-sheets/blob/master/sheets/dark-heresy-v2/gui/parchment.jpg?raw=true');
}

/* Chrome, Safari, Edge, Opera */
.dh-wrapper input::-webkit-outer-spin-button,
.dh-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.dh-wrapper input[type=number] {
  -moz-appearance: textfield;
}

.dh-wrapper label {
  margin: 0;
  padding: 0;
}

.dh-header {
  position: relative;
  background-color: #333;
  color: #FFF;
  border: 3px solid #8d141e;
  box-shadow: 0px 0px 5px #8d141e inset;
  border-radius: 4px 4px 0 0;
  z-index: 2;
}

.dh-header span {
  font-variant: small-caps;
}

.dh-wrapper .dh-header input:read-only:read-only {
  background-color: transparent;
  color: #FFF;
  border-bottom: 2px solid #8d141e;
  border-radius: 0;
  text-align: right;
}

.ftab {
  position: relative;
  display: none !important;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) inset;
  margin-bottom: 20px;
  overflow: hidden;
}

.ftab:after {
  content: ' ';
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: 1;
  filter: sepia(1);
  background-image: url('https://github.com/FalconPilot/roll20-sheets/blob/master/sheets/dark-heresy-v2/gui/inquisition-backdrop.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ftab-inner {
  height: 500px;
  overflow: auto;
  z-index: 2;
}

.dh-wrapper .frow, .fcol { display: flex; }
.dh-wrapper .frow { flex-direction: row; }
.dh-wrapper .fcol { flex-direction: column; }
.dh-wrapper .fcol.centerv, .frow.centerh { justify-content: center; }
.dh-wrapper .fcol.centerh, .frow.centerv { align-items: center; }
.dh-wrapper .fcol.lefth, .frow.topv { align-items: flex-start; }
.dh-wrapper .fcol.righth, .frow.bottomv { align-items: flex-end; }
.dh-wrapper .fcol.topv, .frow.lefth { justify-content: flex-start; }
.dh-wrapper .fcol.bottomv, .frow.righth { justify-content: flex-end; }

.dh-wrapper .fw { width: 100%; }
.dh-wrapper .tqw { width: 75%; }
.dh-wrapper .ttw { width: 66%; }
.dh-wrapper .hw { width: 50%; }
.dh-wrapper .tw { width: 33%; }
.dh-wrapper .qw { width: 25%; }
.dh-wrapper .ftw { width: 20%; }
.dh-wrapper .thw { width: 10%; }

.dh-wrapper .pg, .repcontrol { padding: 8px; }
.dh-wrapper .pgv { padding: 8px 0; }
.dh-wrapper .pgh { padding: 0 8px; }
.dh-wrapper .pgt { padding: 8px 0 0 0; }
.dh-wrapper .pgb { padding: 0 0 8px 0; }
.dh-wrapper .pgl { padding: 0 0 0 8px; }
.dh-wrapper .pgr { padding: 0 8px 0 0; }

.dh-wrapper .noshrink { flex-shrink: 0; }
.dh-wrapper .fshrink { flex-shrink: 1; }
.dh-wrapper .nogrow { flex-grow: 0; }
.dh-wrapper .fgrow { flex-grow: 1; }

.dh-wrapper .fwrap { flex-wrap: wrap; }

input[type="hidden"][name="attr_current_tab"][value="character"] ~ .dh-wrapper .ftab.character,
input[type="hidden"][name="attr_current_tab"][value="advancements"] ~ .dh-wrapper .ftab.advancements,
input[type="hidden"][name="attr_current_tab"][value="gear"] ~ .dh-wrapper .ftab.gear,
input[type="hidden"][name="attr_current_tab"][value="perks"] ~ .dh-wrapper .ftab.perks,
input[type="hidden"][name="attr_current_tab"][value="psy"] ~ .dh-wrapper .ftab.psy,
input[type="hidden"][name="attr_current_tab"][value="ship"] ~ .dh-wrapper .ftab.ship,
input[type="hidden"][name="attr_current_tab"][value="vehicles"] ~ .dh-wrapper .ftab.vehicles,
input[type="hidden"][name="attr_current_tab"][value="options"] ~ .dh-wrapper .ftab.options {
  display: flex !important;
}

input[type="hidden"][name="attr_current_tab"][value="character"] ~ .dh-wrapper .tab-button.character,
input[type="hidden"][name="attr_current_tab"][value="advancements"] ~ .dh-wrapper .tab-button.advancements,
input[type="hidden"][name="attr_current_tab"][value="gear"] ~ .dh-wrapper .tab-button.gear,
input[type="hidden"][name="attr_current_tab"][value="perks"] ~ .dh-wrapper .tab-button.perks,
input[type="hidden"][name="attr_current_tab"][value="psy"] ~ .dh-wrapper .tab-button.psy,
input[type="hidden"][name="attr_current_tab"][value="ship"] ~ .dh-wrapper .tab-button.ship,
input[type="hidden"][name="attr_current_tab"][value="vehicles"] ~ .dh-wrapper .tab-button.vehicles,
input[type="hidden"][name="attr_current_tab"][value="options"] ~ .dh-wrapper .tab-button.options {
  margin-top: 0;
  padding-bottom: 20px;
  box-shadow: none;
}

.dh-wrapper .bordeaux {
  background-color: #8d141e;
  color: #FFF;
}

.dh-wrapper .tab-button-wrapper {
  height: 50px;
  margin-left: 8px;
}

.dh-wrapper .tab-button {
  margin-top: 20px;
  transition: 0.1s;
  border-bottom: none;
  background-repeat: repeat;
  border-radius: 4px 4px 0 0;
  font-variant: small-caps;
  box-shadow: 0px -2px 5px -2px #333 inset;
}

.dh-wrapper .tab-button.options {
  font-family: 'Pictos';
  font-variant: normal;
}

.dh-wrapper .section-title {
  text-align: center;
  font-variant: small-caps;
}

.dh-wrapper .section-title.ud {
  border-bottom: 2px solid #8d141e;
}

.tab-button > input {
  display: none;
}

.tab-button:hover,
.dh-wrapper label:hover {
  cursor: pointer;
}

.tab-button > span {
  font-size: 15px;
  font-weight: normal;
}

.text-input > span {
  font-weight: bold;
  white-space: nowrap;
}

.text-input > span:last-child {
  margin-left: 4px;
}

.checkbox-input {
  position: relative;
}

.checkbox-input input[type="checkbox"] {
  display: none;
}

.checkbox-backdrop {
  background-color: #8d141e33;
  transition: 0.1s;
}

.checkbox-backdrop > span {
  text-align: center;
  display: block;
}

input[type=checkbox]:checked + .checkbox-backdrop {
  background-color: #8d141e;
  color: #FFF;
}

.bar-wrapper > span,
.minmax-wrapper > span {
  text-align: center;
  font-variant: small-caps;
}

.dh-wrapper .bar-wrapper input[type=number],
.dh-wrapper .minmax-wrapper input[type=number] {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-shadow: 0px 0px 1px #333;
  text-align: center;
}

.dh-wrapper .bar-wrapper input[type=number]:not(:read-only) {
  width: 35px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.dh-wrapper .bar-wrapper input[type=number]:first-child {
  margin-right: 5px;
}

.dh-wrapper .bar-wrapper input[type=number]:last-child {
  margin-left: 5px;
}

.dh-wrapper .minmax-wrapper input[type=number] {
  height: 100%;
  width: 50%;
}

.dh-wrapper .minmax-wrapper input[type=number]:first-child:not(:last-child) {
  border-right: 1px solid #FFF;
  border-radius: 5px 0 0 5px;
}

.dh-wrapper .minmax-wrapper input[type=number]:last-child {
  border-radius: 0 5px 5px 0;
}

.dh-wrapper .minmax-wrapper input[type=number]:first-child:last-child {
  border-radius: 5px;
}

.bar-inner,
.minmax-inner {
  position: relative;
  border: 1px solid #FFF;
  border-radius: 4px;
  height: 30px;
  background-color: #333;
  overflow: hidden;
}

.bar-inner:before {
  content: ' ';
  position: absolute;
  transition: 0.1s;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

input[type="hidden"].bar-percentage[value="0"] + .bar-wrapper .bar-inner:before {
  width: 0%;
  background-color: #8d141e;
}

input[type="hidden"].bar-percentage[value="1"] + .bar-wrapper .bar-inner:before {
  width: 10%;
  background-color: #8d141e;
}

input[type="hidden"].bar-percentage[value="2"] + .bar-wrapper .bar-inner:before {
  width: 20%;
  background-color: #8d141e;
}

input[type="hidden"].bar-percentage[value="3"] + .bar-wrapper .bar-inner:before {
  width: 30%;
  background-color: #bd7932;
}

input[type="hidden"].bar-percentage[value="4"] + .bar-wrapper .bar-inner:before {
  width: 40%;
  background-color: #bd7932;
}

input[type="hidden"].bar-percentage[value="5"] + .bar-wrapper .bar-inner:before {
  width: 50%;
  background-color: #bd7932;
}

input[type="hidden"].bar-percentage[value="6"] + .bar-wrapper .bar-inner:before {
  width: 60%;
  background-color: #0b7e11;
}

input[type="hidden"].bar-percentage[value="7"] + .bar-wrapper .bar-inner:before {
  width: 70%;
  background-color: #0b7e11;
}

input[type="hidden"].bar-percentage[value="8"] + .bar-wrapper .bar-inner:before {
  width: 80%;
  background-color: #0b7e11;
}

input[type="hidden"].bar-percentage[value="9"] + .bar-wrapper .bar-inner:before {
  width: 90%;
  background-color: #0b7e11;
}

input.bar-percentage[type="hidden"][value="10"] + .bar-wrapper .bar-inner:before {
  width: 100%;
  background-color: #0b7e11;
}

.dh-wrapper .bar-wrapper .bar-inner > span {
  color: #FFF;
  text-shadow: 0px 0px 1px #333;
}

.bar-inner > * {
  z-index: 2;
}

.dh-wrapper input.parchment-input,
.dh-wrapper textarea.parchment-input {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  border: none;
}

.dh-wrapper textarea.parchment-input {
  height: 5em;
  resize: none;
}

.dh-wrapper input.parchment-input:disabled,
.dh-wrapper input.parchment-input:read-only {
  background-color: #333;
  color: #FFF;
  font-weight: bold;
}

.dh-wrapper .text-input > input[type="text"],
.dh-wrapper .text-input > input[type="number"] {
  width: 100%;
  margin-left: 4px;
}

.inquisitionlogo {
  align-self: stretch;
  background-image: url('https://github.com/FalconPilot/roll20-sheets/blob/master/sheets/dark-heresy-v2/gui/aquila.png?raw=true');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: drop-shadow(2px 2px 4px #333);
}

.dh-wrapper button[type="roll"] {
  background-image: none;
  border: none;
  text-shadow: none;
  font-variant: small-caps;
}

.dh-wrapper button[type="roll"].compact {
  font-family: 'dicefontd10';
}

.dh-wrapper.dh-wrapper button[type="roll"]:before {
  content: '';
}

.dh-wrapper input[type="number"].stat-input {
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 0;
}

.dh-wrapper input[type="number"].stat-input.initial {
  margin-left: 4px;
  border-radius: 4px 0 0 4px;
}

.dh-wrapper input[type="number"].stat-input.total {
  margin-right: 4px;
  border-radius: 0 4px 4px 0;
}

.stat-values {
  position: relative;
}

.dh-wrapper input[type=number].stat-bonus.stat-bonus {
  position: absolute;
  top: 0;
  right: 4px;
  width: 16px;
  height: 16px;
  padding: 0;
  text-align: center;
  border: 2px solid #8d141e;
  background-color: #333;
  color: #FFF;
}

.dh-wrapper .skill.skill button[type="roll"] {
  font-size: 14px;
}

.dh-wrapper .skill.skill button[type="roll"].compact {
  height: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.repcontrol.repcontrol > .btn {
  position: relative;
  background-color: #8d141e;
  color: transparent;
  background-image: none;
  text-shadow: none;
  overflow: hidden;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
}

.repcontrol.repcontrol > .btn:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn.repcontrol_edit:after {
  content: 'y';
  font-family: 'Pictos';
}

.btn.btn.repcontrol_add:after {
  content: '&';
  font-family: 'Pictos';
}

.skillbox {
  width: 45px;
}

.skillbox span {
  display: block;
  text-align: center;
  font-size: 12px;
}

.skillbox.first .checkbox-input:first-of-type .checkbox-backdrop > span {
  font-family: 'Pictos';
}

.skillbox .checkbox-input:first-of-type .checkbox-backdrop {
  border-radius: 4px 4px 0 0;
}

.skillbox .checkbox-input:last-of-type  .checkbox-backdrop{
  border-radius: 0 0 4px 4px;
  font-style: italic;
}

.weapon-inner {
  border: 2px solid #8d141e;
  border-radius: 4px;
}
