.dh-wrapper {
  width: 800px;
  font-family: 'Garamond';
}

.dh-wrapper * {
  box-sizing: border-box;
}

.dh-wrapper label {
  margin: 0;
  padding: 0;
}

.ftab {
  display: none !important;
  border: 1px solid #333;
}

.dh-wrapper .frow, .fcol { display: flex; }
.dh-wrapper .frow { flex-direction: row; }
.dh-wrapper .fcol { flex-direction: column; }
.dh-wrapper .fcol.centerv, .frow.centerh { justify-content: center; }
.dh-wrapper .fcol.centerh, .frow.centerv { align-items: center; }
.dh-wrapper .fcol.lefth, .frow.topv { align-items: flex-start; }
.dh-wrapper .fcol.righth, .frow.bottomv { align-items: flex-end; }
.dh-wrapper .fcol.topv, .frow.lefth { justify-content: flex-start; }
.dh-wrapper .fcol.bottomv, .frow.righth { justify-content: flex-end; }

.dh-wrapper .fw { width: 100%; }
.dh-wrapper .hw { width: 50%; }
.dh-wrapper .tw { width: 33%; }
.dh-wrapper .qw { width: 25%; }

.dh-wrapper .pg { padding: 4px; }
.dh-wrapper .pgv { padding: 4px 0; }
.dh-wrapper .pgh { padding: 0 4px; }
.dh-wrapper .pgt { padding: 4px 0 0 0; }
.dh-wrapper .pgb { padding: 0 0 4px 0; }
.dh-wrapper .pgl { padding: 0 0 0 4px; }
.dh-wrapper .pgr { padding: 0 4px 0 0; }

.dh-wrapper .noshrink { flex-shrink: 0; }
.dh-wrapper .fshrink { flex-shrink: 1; }
.dh-wrapper .nogrow { flex-grow: 0; }
.dh-wrapper .fgrow { flex-grow: 1; }

.dh-wrapper .fwrap { flex-wrap: wrap; }

input[type="hidden"][name="attr_current_tab"][value="character"] ~ .dh-wrapper .ftab.character,
input[type="hidden"][name="attr_current_tab"][value="advancements"] ~ .dh-wrapper .ftab.advancements,
input[type="hidden"][name="attr_current_tab"][value="gear"] ~ .dh-wrapper .ftab.gear,
input[type="hidden"][name="attr_current_tab"][value="npcs"] ~ .dh-wrapper .ftab.npcs,
input[type="hidden"][name="attr_current_tab"][value="psy"] ~ .dh-wrapper .ftab.psy,
input[type="hidden"][name="attr_current_tab"][value="ship"] ~ .dh-wrapper .ftab.ship,
input[type="hidden"][name="attr_current_tab"][value="vehicles"] ~ .dh-wrapper .ftab.vehicles {
  display: flex !important;
}

input[type="hidden"][name="attr_current_tab"][value="character"] ~ .dh-wrapper .header-input.character,
input[type="hidden"][name="attr_current_tab"][value="advancements"] ~ .dh-wrapper .header-input.advancements,
input[type="hidden"][name="attr_current_tab"][value="gear"] ~ .dh-wrapper .header-input.gear,
input[type="hidden"][name="attr_current_tab"][value="npcs"] ~ .dh-wrapper .header-input.npcs,
input[type="hidden"][name="attr_current_tab"][value="psy"] ~ .dh-wrapper .header-input.psy,
input[type="hidden"][name="attr_current_tab"][value="ship"] ~ .dh-wrapper .header-input.ship,
input[type="hidden"][name="attr_current_tab"][value="vehicles"] ~ .dh-wrapper .header-input.vehicles {
  background-color: #8d141e;
  border-color: #8d141e;
  color: #FFF;
}

.dh-wrapper .header-input {
  width: 150px;
  padding: 4px;
  border: 1px solid #333;
  border-bottom: none;
}

.dh-wrapper .header-input:not(:first-child) {
  border-left: none;
}

.header-input > input {
  display: none;
}

.header-input:hover {
  cursor: pointer;
}

.header-input > span {
  font-size: 13px;
}

.text-input {
  border-bottom: 1px solid #777;
}

.text-input > input {
  width: auto;
  margin-left: 4px;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.inquisitionlogo {
  background-image: url('https://github.com/FalconPilot/roll20-sheets/blob/master/sheets/dark-heresy-v2/gui/inquisition.png?raw=true');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
