/*
**  Main classes
*/

.sheet-lor-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.sheet-lor-wrapper > h1 {
  width: 100%;
  margin: 2px 0;
  text-align: center;
}

.sheet-col > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sheet-col > div > label {

}
