/*
**  Main classes
*/

.sheet-sc-wrapper {
  width: 800px;
  margin: auto;
}

.sheet-sc-wrapper *:disabled:hover { cursor: not-allowed; }

.sheet-sc-wrapper > h1 {
  margin: 20px 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
**  Flex classes
*/

.sheet-flex-row,
.sheet-flex-col { display: flex; }

.sheet-flex-row { flex-direction: row; }
.sheet-flex-col { flex-direction: column; }

.sheet-flex-row.sheet-center-h,
.sheet-flex-col.sheet-center-v,
.sheet-flex-row.sheet-flex-middle,
.sheet-flex-col.sheet-flex-middle { justify-content: center; }

.sheet-flex-row.sheet-center-v,
.sheet-flex-col.sheet-center-h,
.sheet-flex-row.sheet-flex-middle,
.sheet-flex-col.sheet-flex-middle { align-items: center; }

.sheet-flex-up { flex: 1; }

.sheet-flex-stretch { align-items: stretch; }

.sheet-flex-wrap { flex-wrap: wrap; }

/*
**  Width classes
*/

.sheet-full-width { width: 100%; }
.sheet-two-thirds-width { width: 66%; }
.sheet-half-width { width: 50%; }
.sheet-third-width { width: 33%; }
.sheet-quarter-width { width: 25%; }

/*
**  Repcontainers
*/

.sheet-sc-wrapper .repcontrol {
  width: 100%;
  height: 32px;
}

.sheet-sc-wrapper .repcontrol > button {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 5px;
  overflow: hidden;
  text-shadow: none;
  background-image: none;
  border: none;
  color: #FFF;
  background-color: #FFF;
  border: 1px solid #333 !important;
  z-index: 1;
}

.sheet-sc-wrapper .repcontrol > button:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 24px;
  font-size: 14px !important;
  font-family: 'Contrail One';
  color: #333;
  z-index: 2;
}

.sheet-sc-wrapper .repcontrol > button.repcontrol_add:before {
  content: "+";
  font-size: 23px !important;
}

.sheet-sc-wrapper .repcontrol > button.repcontrol_edit:before {
  content: "M";
}

.sheet-sc-wrapper .itemcontrol > button,
.sheet-sc-wrapper .itemcontrol > a {
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 0;
  border: none;
  background-image: none;
  color: #FFF;
  background-color: #333;
}

.sheet-sc-wrapper .repcontainer {
  width: 100%;
}

.sheet-sc-wrapper .repcontainer > .repitem {
  position: relative;
  width: 100%;
  padding: 15px 25px;
  box-sizing: border-box;
}

.sheet-sc-wrapper .repcontainer > .repitem > .itemcontrol {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

.sheet-sc-wrapper .repcontainer > .repitem:first-child > .itemcontrol {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sheet-sc-wrapper .repcontainer > .repitem:last-child > .itemcontrol {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*
**  Sheet modif
*/

input[type=checkbox].sheet-modif-toggle {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 2px;
  transition: 0.2s;
  outline: none;
  z-index: 3;
}

input[type=checkbox].sheet-modif-toggle:checked {
  border-radius: 4px;
}

input[type=checkbox].sheet-modif-toggle:checked ~ span:before {
  content: '3';
}

.sheet-tablet input[type=checkbox].sheet-modif-toggle {
  border-color: #FFF;
}

.sheet-modif-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 5px;
  flex-shrink: 0;
}

.sheet-modif-wrapper > span:before {
  content: 'y';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 21px;
  font-family: 'Pictos';
  text-align: center;
  z-index: 1;
}

/*
**  Tabs classes
*/

.sheet-tab {
  display: none !important;
  border: 2px solid #333;
  border-radius: 0 4px 4px 4px;
  background-color: #333;
  box-sizing: border-box;
}

input.sheet-tabs-control[value="character"] ~ .sheet-tab.sheet-character { display: flex !important; }
input.sheet-tabs-control[value="character"] ~ .sheet-tab-selector > button[name="act_character"] {
  background-color: #333;
  color: #FFF;
}

input.sheet-tabs-control[value="protections"] ~ .sheet-tab.sheet-protections { display: flex !important; }
input.sheet-tabs-control[value="protections"] ~ .sheet-tab-selector > button[name="act_protections"] {
  background-color: #333;
  color: #FFF;
}

input.sheet-tabs-control[value="gear"] ~ .sheet-tab.sheet-gear { display: flex !important; }
input.sheet-tabs-control[value="gear"] ~ .sheet-tab-selector > button[name="act_gear"] {
  background-color: #333;
  color: #FFF;
}

input.sheet-tabs-control[value="psy"] ~ .sheet-tab.sheet-psy { display: flex !important; }
input.sheet-tabs-control[value="psy"] ~ .sheet-tab-selector > button[name="act_psy"] {
  background-color: #333;
  color: #FFF;
}

.sheet-tab-selector > button {
  border: 2px solid #333;
  border-bottom: 0;
  font-family: 'Candal';
  outline: none;
}

.sheet-tab-selector > button:first-child { border-top-left-radius: 4px; }
.sheet-tab-selector > button:last-child { border-top-right-radius: 4px; }

.sheet-tab-selector > button:not(:first-child) { border-left: none; }

/*
**  Sheet tablet
*/

.sheet-tablet {
  background-color: #333;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.sheet-tablet.sheet-heading { border-radius: 0; }

.sheet-tablet-title {
  color: #FFF;
  font-family: 'Contrail One';
  border-bottom: 1px solid #FFF;
  text-align: center;
}

.sheet-tablet .sheet-label {
  color: #FFF;
  padding-right: 20px;
  font-family: 'Contrail One';
  white-space: nowrap;
}

.sheet-tablet-line input[type=text],
.sheet-tablet-line input[type=number] {
  padding: 5px 15px;
  color: #FFF;
  background-color: #444;
  font-family: 'Contrail One';
  border: none;
  border-radius: 5px;
}

.sheet-tablet table tbody td { padding: 5px; }

.sheet-tablet-line input[type=number] {
  text-align: center;
}

input[type=number].sheet-tablet-bubble-input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  padding: 0;
  border-radius: 50%;
}

.sheet-tablet .repcontrol > button {
  color: #333;
  background-color: #333;
  border: 1px solid #FFF !important;
}

.sheet-tablet .repcontrol > button:before {
  color: #FFF;
}

.sheet-tablet .itemcontrol > button,
.sheet-tablet .itemcontrol > a {
  color: #333;
  background-color: #FFF;
}

.sheet-tablet-content {
  background-color: #FFF;
  border: 5px solid #333;
  border-radius: 7px;
  box-sizing: border-box;
}

.sheet-tablet select {
  width: auto;
  margin: 0;
  background-color: #444;
  color: #FFF;
  font-family: 'Contrail One';
  border: none;
}

.sheet-tablet .sheet-modif-wrapper > span:before,
.sheet-tab .sheet-modif-wrapper > span:before {
  color: #FFF;
}

/*
**  Sheet bio
*/

input[name="attr_character_race"] + input[name="attr_character_race_other"] {
  display: none;
}

input[name="attr_character_race"][value="other"] + input[name="attr_character_race_other"] {
  display: inline;
  margin-left: 10px;
}

input[name="attr_character_gender"] + input[name="attr_character_gender_other"] {
  display: none;
}

input[name="attr_character_gender"][value="other"] + input[name="attr_character_gender_other"] {
  display: inline;
  margin-left: 10px;
}

/*
**  Sheet stats
*/

.sheet-tablet-stats {
  position: relative;
}

.sheet-stat {
  margin: 10px 0;
  padding: 5px;
}

.sheet-stat input[type=number] {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  text-align: center;
  background-color: transparent;
  outline: none;
  font-family: "Contrail One";
}

.sheet-stat-total {
  font-size: 25px;
}

.sheet-stat-bubble {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 50%;
}

.sheet-stat-base {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -5px;
  z-index: 3;
}

.sheet-stat.sheet-left .sheet-stat-base { right: -5px; }
.sheet-stat.sheet-right .sheet-stat-base { left: -5px; }

.sheet-stat-base input[type=number] {
  position: relative;
  color: #FFF;
}

.sheet-stat-base:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(45deg);
  border: 1px solid #333;
  background-color: #333;
  border-radius: 2px;
}

.sheet-stat-label {
  position: relative;
  width: 130px;
  height: 30px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #333;
}

.sheet-stat.sheet-left .sheet-stat-label {
  padding-right: 25px;
  margin-right: 20px;
}

.sheet-stat.sheet-right .sheet-stat-label {
  padding-left: 25px;
  margin-left: 20px;
}

.sheet-stat-label p {
  font-family: "Contrail one";
}

.sheet-stat.sheet-left .sheet-stat-label {
  border-left: none;
  margin-left: -3px;
  border-radius: 0 2px 2px 0;
  text-align: left;
}

.sheet-stat.sheet-right .sheet-stat-label {
  border-right: none;
  margin-right: -3px;
  border-radius: 2px 0 0 2px;
  text-align: right;
}

.sheet-stat-plus {
  position: absolute;
  top: -5px;
  bottom: -5px;
  border: 1px solid #333;
  width: 38px;
  border-radius: 50%;
  background-color: #333;
  box-sizing: border-box;
}


.sheet-stat-plus > input[type=number] {
  text-align: center;
  color: #FFF;
}

.sheet-stat.sheet-left .sheet-stat-plus { right: -10px; }
.sheet-stat.sheet-right .sheet-stat-plus { left: -10px; }

.sheet-stat-plus > p {
  position: absolute;
  top: -7px;
  left: -3px;
  font-family: 'Candal';
  color: #FFF;
  text-shadow: 1px 1px 0px #333, -1px -1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
  font-size: 30px;
}

.sheet-stat-label p {
  margin: 0;
}

/* .sheet-stat-label input[type=number] {
  width: 20px;
} */

.sheet-stat-name {
  flex-grow: 1;
}

/*
**  Sheet skills
*/

.sheet-table-title {
  width: 90%;
  padding: 5px;
  margin: 5px auto;
  background-color: #333;
  color: #FFF;
  border-radius: 5px;
  box-sizing: border-box;
}

.sheet-skill td {
  padding: 3px;
  box-sizing: border-box;
}

.sheet-skill select {
  width: auto;
  margin: 0;
  text-align: center;
  font-family: 'Trebuchet MS';
  font-weight: bold;
}

.sheet-skill .sheet-line-input:disabled {
  background-color: #333;
  color: #FFF;
}

.sheet-skills .sheet-trained:before,
.sheet-skills .sheet-expert:before,
.sheet-skills .sheet-master:before {
  content: 'S';
  font-family: 'Pictos';
}

.sheet-skills .sheet-trained:before { color: #B87333; }

.sheet-skills .sheet-expert:before { color: #C0C0C0 }

.sheet-skills .sheet-master:before { color: #D4AF37 }

.sheet-skills .sheet-bonus:before {
  content: '&';
  font-family: 'Pictos';
}

input[type=number].sheet-skill-bonus {
  width: 20px;
  text-align: center;
}

.sheet-skills th {
  text-align: center;
  font-family: 'Candal';
  font-size: 11px;
}

/*
**  Sheet containers
*/

.sheet-capacity-header {
  width: 17px;
  height: 17px;
  margin: auto;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 5px;
  text-align: center;
  background-color: #5C5;
  box-shadow: 0px 0px 3px #000 inset;
}

input[name="attr_overweight"][value="true"] + .sheet-capacity-header {
  background-color: #C55;
}

.sheet-capacity-header > img {
  width: 15px;
}

.sheet-weight-wrapper {
  margin: 0 5px;
}

.sheet-weight-wrapper > h3 {
  color: #FFF;
  font-family: 'Contrail One';
  font-size: 14px;
  text-align: center;
  margin: 4px 0;
}

.sheet-capacity-summary {
  margin: 10px 0;
}

.sheet-capacity-summary > * {
  height: 25px !important;
  margin: 0;
  padding: 5px;
  line-height: 25px;
  box-sizing: content-box !important;
  background-color: #444;
  text-align: center;
  color: #FFF;
  font-family: 'Contrail One';
}

.sheet-capacity-summary > input[type=number] {
  width: 30px;
  border: none;
  border-radius: 0;
}

.sheet-capacity-summary > input[type=number]:first-child {
  border-radius: 5px 0 0 5px;
}

.sheet-capacity-summary > input[type=number]:last-child {
  border-radius: 0 5px 5px 0;
}

/*
**  Items
*/

.sheet-item-container > input[type=text],
.sheet-item-container > input[type=number] {
  font-family: 'Contrail One';
  font-size: 15px;
}

.sheet-item-container > input[type=number] {
  width: 30px;
  text-align: center;
}

.sheet-item-container > span {
  font-family: 'Contrail One';
  margin-left: 20px;
  margin-right: 2px;
}

.sheet-item-container > img {
  width: 12px;
  margin-left: 20px;
  margin-right: 2px;
}

.sheet-line-input {
  font-family: 'Contrail One';
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  padding: 0 2px;
}

/*
**  Silhouette and armor
*/

.sheet-character-silhouette {
  position: relative;
  padding: 0 60px;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.sheet-character-location {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.sheet-character-location > input[type=number] {
  text-align: center;
  padding: 0;
  font-family: 'Contrail One';
  color: #FFF;
}

.sheet-character-location > input[type=number].sheet-protection-total {
  width: 100%;
  height: 100%;
  background-color: #333;
  border: 1px solid #FFF;
  font-size: 18px;
}

.sheet-character-location > input[type=number].sheet-protection-bonus {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 11px;
  background-color: #444;
  border: 1px solid #FFF;
  z-index: 3;
}

/*
**  Human silhouette - Default
*/

input[type=hidden][name="attr_character_race"] ~ .sheet-character-silhouette {
  background-image: url("https://fpilot.fr/starclock/gui/human_sil_m.png");
  width: 162px;
  height: 384px;
}

input[type=hidden][name="attr_character_race"] ~ input[type=hidden][name="attr_character_gender"][value="f"] ~ .sheet-character-silhouette {
  background-image: url("https://fpilot.fr/starclock/gui/human_sil_f.png");
}

input[type=hidden][name="attr_character_race"] ~ .sheet-character-silhouette .sheet-character-location.sheet-head {
  top: 5px;
  left: 75px;
}

input[type=hidden][name="attr_character_race"] ~ .sheet-character-silhouette .sheet-character-location.sheet-left-arm {
  top: 110px;
  left: 35px;
}

input[type=hidden][name="attr_character_race"] ~ .sheet-character-silhouette .sheet-character-location.sheet-right-arm {
  top: 110px;
  right: 45px;
}

input[type=hidden][name="attr_character_race"] ~ .sheet-character-silhouette .sheet-character-location.sheet-torso {
  top: 100px;
  left: 125px;
}

input[type=hidden][name="attr_character_race"] ~ .sheet-character-silhouette .sheet-character-location.sheet-left-leg {
  top: 280px;
  left: 60px;
}

input[type=hidden][name="attr_character_race"] ~ .sheet-character-silhouette .sheet-character-location.sheet-right-leg {
  top: 280px;
  right: 70px;
}

/*
**  Doppleganger silhouette
*/

input[type=hidden][name="attr_character_race"][value="doppleganger"] ~ .sheet-character-silhouette {
  background-image: url("https://fpilot.fr/starclock/gui/doppleganger_sil_m.png");
}

input[type=hidden][name="attr_character_race"][value="doppleganger"] ~ input[type=hidden][name="attr_character_gender"][value="f"] ~ .sheet-character-silhouette {
  background-image: url("https://fpilot.fr/starclock/gui/doppleganger_sil_f.png");
}

/*
**  Endaari silhouette
*/

input[type=hidden][name="attr_character_race"][value="endaari"] ~ .sheet-character-silhouette {
  background-image: url("https://fpilot.fr/starclock/gui/endaari_sil_m.png");
}

input[type=hidden][name="attr_character_race"][value="endaari"] ~ input[type=hidden][name="attr_character_gender"][value="f"] ~ .sheet-character-silhouette {
  background-image: url("https://fpilot.fr/starclock/gui/endaari_sil_f.png");
}

/*
**  Alkor silhouette
*/

input[type=hidden][name="attr_character_race"][value="alkor"] ~ .sheet-character-silhouette {
  background-image: url("https://fpilot.fr/starclock/gui/alkor_sil_m.png");
  width: 200px;
  padding: 0 41px;
}

input[type=hidden][name="attr_character_race"][value="alkor"] ~ input[type=hidden][name="attr_character_gender"][value="f"] ~ .sheet-character-silhouette {
  background-image: url("https://fpilot.fr/starclock/gui/alkor_sil_f.png");
}

/*
**  Armors
*/

.sheet-character-defenses {
  justify-content: center;
  align-items: flex-start;
}

.sheet-armors {
  flex: 1;
}

.sheet-protection-locations {
  margin: 10px 0;
}

.sheet-protection-locations > div {
  width: 65px;
  margin: 0 5px;
}

.sheet-protection-locations > div > span {
  font-family: 'Contrail One';
  color: #FFF;
  font-size: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.sheet-protection-locations > div > input[type=number] {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 5px;
}

input[name="attr_armor_is_expanded"][value="0"] ~ .sheet-protection-locations,
input[name="attr_armor_is_expanded"][value="0"] ~ .sheet-armor-extra {
  display: none;
}

.sheet-armor-details > input[type=number] { margin-left: 5px; }

.sheet-armor-extra {
  height: 5em;
  margin: 0;
  padding: 7px;
  background-color: #444;
  border-radius: 5px;
  border: none;
  font-family: 'Contrail One';
  color: #FFF;
  font-size: 11px;
  box-sizing: border-box;
}

/*
**  Psy tab
*/

.sheet-psy-container {
  position: relative;
}

.sheet-psy-wrapper {
  position: relative;
  width: 25%;
  overflow: hidden;
  opacity: 1;
  transition: 0.2s;
}

.sheet-psy-card {
  position: relative;
  width: 150px;
  height: 180px;
  margin: 20px 0;
  box-sizing: border-box;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
  overflow: hidden;
}

.sheet-psy-card > h4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Patrick Hand';
}

.sheet-psy-wrapper.sheet-telekinesie > .sheet-psy-card {
  background-image: url("https://fpilot.fr/starclock/gui/telekinesie.png");
  background-color: #5CF;
}

.sheet-psy-wrapper.sheet-mentalisme > .sheet-psy-card {
  background-image: url("https://fpilot.fr/starclock/gui/mentalisme.png");
  background-color: #97C;
}

.sheet-psy-wrapper.sheet-thermokinesie > .sheet-psy-card {
  background-image: url("https://fpilot.fr/starclock/gui/thermokinesie.png");
  background-color: #C55;
}

.sheet-psy-wrapper.sheet-chronomancie > .sheet-psy-card {
  background-image: url("https://fpilot.fr/starclock/gui/chronomancie.png");
  background-color: #FC6;
}

.sheet-psy-button,
input[type=number].sheet-psy-power,
input[type=number].sheet-psy-control {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #333;
  color: #FFF;
  text-align: center;
  outline: none;
  z-index: 5;
}

.sheet-psy-button {
  right: 5px;
  bottom: 5px;
  transition: 0.2s;
}

input[type=number].sheet-psy-power {
  left: 5px;
  top: 35px;
}

input[type=number].sheet-psy-control {
  left: 5px;
  top: 65px;
}

input[type=number].sheet-psy-power,
input[type=number].sheet-psy-control {
  font-family: 'Patrick Hand';
}

.sheet-psy-button:after,
input[type=number].sheet-psy-power,
input[type=number].sheet-psy-control {
  line-height: 25px;
}

.sheet-psy-button:after {
  content: '&';
  width: 100%;
  font-family: 'Pictos';
}

.sheet-power-anot,
.sheet-control-anot {
  position: absolute;
  left: 3px;
  font-size: 12px;
  color: #FFF;
  font-family: 'Contrail One';
  text-shadow: 0px 0px 3px #333;
  z-index: 6;
}

.sheet-power-anot { top: 39px; }
.sheet-control-anot { top: 68px; }

.sheet-psy-content {
  display: none;
}

input[type="hidden"][name="attr_current_psy"][value="telekinesie"] ~ .sheet-psy-wrapper,
input[type="hidden"][name="attr_current_psy"][value="chronomancie"] ~ .sheet-psy-wrapper,
input[type="hidden"][name="attr_current_psy"][value="thermokinesie"] ~ .sheet-psy-wrapper,
input[type="hidden"][name="attr_current_psy"][value="mentalisme"] ~ .sheet-psy-wrapper {
  width: 100%;
}

input[type="hidden"][name="attr_current_psy"][value="telekinesie"] ~ .sheet-psy-wrapper .sheet-psy-content,
input[type="hidden"][name="attr_current_psy"][value="chronomancie"] ~ .sheet-psy-wrapper .sheet-psy-content,
input[type="hidden"][name="attr_current_psy"][value="thermokinesie"] ~ .sheet-psy-wrapper .sheet-psy-content,
input[type="hidden"][name="attr_current_psy"][value="mentalisme"] ~ .sheet-psy-wrapper .sheet-psy-content {
  display: flex;
}

input[type="hidden"][name="attr_current_psy"][value="telekinesie"] ~ .sheet-psy-wrapper .sheet-psy-button,
input[type="hidden"][name="attr_current_psy"][value="chronomancie"] ~ .sheet-psy-wrapper .sheet-psy-button,
input[type="hidden"][name="attr_current_psy"][value="thermokinesie"] ~ .sheet-psy-wrapper .sheet-psy-button,
input[type="hidden"][name="attr_current_psy"][value="mentalisme"] ~ .sheet-psy-wrapper .sheet-psy-button {
  transform: rotate(45deg);
}

input[type="hidden"][name="attr_current_psy"][value="telekinesie"] ~ .sheet-psy-wrapper:not(.sheet-telekinesie),
input[type="hidden"][name="attr_current_psy"][value="chronomancie"] ~ .sheet-psy-wrapper:not(.sheet-chronomancie),
input[type="hidden"][name="attr_current_psy"][value="thermokinesie"] ~ .sheet-psy-wrapper:not(.sheet-thermokinesie),
input[type="hidden"][name="attr_current_psy"][value="mentalisme"] ~ .sheet-psy-wrapper:not(.sheet-mentalisme) {
  width: 0;
  height: 0;
  opacity: 0;
}

/*
**  Rolltemplates
*/

.sheet-rolltemplate-general {
  width: 100%;
}

.sheet-rolltemplate-wrapper {
  background-color: #EEE;
  border: 3px solid #333;
  border-radius: 5px;
}

.sheet-rolltemplate-general .sheet-rolltable {
  width: 100%;
}

.sheet-rolltemplate-general .sheet-rolltable th,
.sheet-rolltemplate-general .sheet-rolltable td {
  text-align: center;
  padding: 4px;
  box-sizing: border-box;
  line-height: 1em;
}

.sheet-rolltemplate-general .sheet-rolltable td {
  width: 50%;
}

.sheet-rolltemplate-general .sheet-rolltable-title {
  font-family: 'Contrail One';
  font-size: 20px;
}

.sheet-rolltemplate-general .sheet-rolltable-subtitle {
  font-family: 'Contrail One';
  font-size: 12px;
}

.sheet-rolltemplate-general .sheet-success,
.sheet-rolltemplate-general .sheet-failure {
  width: 100px;
  height: 30px;
  margin: auto;
  box-sizing: content-box;
  font-family: 'Candal';
  line-height: 30px;
  border-radius: 17px;
  background-color: #333;
  border: 2px solid #333;
}

.sheet-rolltemplate-general .sheet-critical { width: 160px; }

.sheet-rolltemplate-general .sheet-failure.sheet-critical { box-shadow: 0px 0px 10px #F00 inset; }
.sheet-rolltemplate-general .sheet-success.sheet-critical { box-shadow: 0px 0px 10px #5F5 inset; }

.sheet-rolltemplate-general .sheet-failure { color: #F00; }
.sheet-rolltemplate-general .sheet-success { color: #5F5; }

.sheet-rolltemplate-general .inlinerollresult {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0;
  border: none;
  border-radius: 50%;
  font-family: 'Candal';
}
