<rolltemplate class="sheet-rolltemplate-general">
  <div class="sheet-rolltemplate-container">
    <h3>{{name}}</h3>
    <div class="sheet-rolltemplate-results">
      {{computed::roll}}
    </div>
    <div class="sheet-rolltemplate-footer">{{character}}</div>
  </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-attack">
  <div class="sheet-rolltemplate-container {{woundKey}}">
    <h3>{{name}}</h3>
    <div class="sheet-rolltemplate-hits">
      <div>
        {{hits}}
      </div>
      <div>
        {{woundsAmount}}&nbsp;<span>{{wounds}}</span>
      </div>
    </div>
    <div class="sheet-rolltemplate-results">
      {{computed::roll}}
    </div>
    <div class="sheet-rolltemplate-footer">{{character}}</div>
  </div>
</rolltemplate>
