<rolltemplate class="sheet-rolltemplate-general">
  <div class="sheet-rolltemplate-container">
    <h3>{{name}}</h3>
    <div class="sheet-rolltemplate-results">
      {{computed::roll}}
    </div>
    <div class="sheet-rolltemplate-footer">{{character}}</div>
  </div>
</rolltemplate>
