.sc-wrapper {
  width: 800px;
  border: 1px solid #CCC;
}

.sc-wrapper * {
  font-size: 1em;
  font-family: 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select,
input,
button { margin: 0; }

.sc-wrapper .fw { width: 100%; }
.sc-wrapper .tqw { width: 75%; }
.sc-wrapper .hw { width: 50%; }
.sc-wrapper .tw { width: 33.333%; }
.sc-wrapper .qw { width: 25%; }

.sc-wrapper .fcol,
.sc-wrapper .frow { display: flex; }
.fcol { flex-direction: column; }
.frow { flex-direction: row; }

.fwrap { flex-wrap: wrap; }

input[type=hidden][name="attr_gender"]:not(input[value="other"]) ~ .sc-frame input.line-input[name="attr_gender_other"] {
  display: none;
}

.sc-tabs-header {
  position: relative;
  width: auto;
  height: auto;
  border: none;
  margin: 5px;
  padding: 5px 5px 5px 20px;;
  flex: 1;
  font-size: 18px;
  font-family: 'Candal';
  color: #FFF;
  background-color: #333;
}

input[type=hidden][name="attr_current_tab"]:not(input[value="character"]) ~ .sc-frame .sc-tab.character,
input[type=hidden][name="attr_current_tab"]:not(input[value="skills"]) ~ .sc-frame .sc-tab.skills {
  display: none;
}

.sc-tabs-wrapper {
  border-right: 1px solid #CCC;
}

.sc-wrapper .line-input {
  margin: 2px 0;
  padding: 2px 4px;
  border: none;
  border-bottom: 1px solid #CCC;
  height: 2.4em;
  line-height: 2em;
  border-radius: 0;
  background-color: transparent;
}

.sc-header {
  padding: 15px;
  background-color: #333;
  align-items: center;
}

.sc-header * {
  color: #FFF;
}

.sc-header span {
  font-family: 'Contrail One';
  margin-right: 8px;
}

.sc-header input:last-child,
.sc-header select:last-child {
  flex: 1;
}

.sc-stat {
  margin: 12px 0;
  align-items: flex-end;
}

.sc-stat h3 {
  flex: 1;
  text-align: left;
  font-family: 'Contrail One';
}

.sc-stats > .sc-stat:nth-child(even) {
  flex-direction: row-reverse;
}

.sc-stats > .sc-stat:nth-child(even) h3 {
  text-align: right;
}

.sc-stat > label {
  position: relative;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid #CCC;
  margin-bottom: 0;
}

.sc-stats > .sc-stat:nth-child(odd) .sc-value,
.sc-stats > .sc-stat:nth-child(even) .sc-limit {
  border-right: none;
}

.sc-stats > .sc-stat:nth-child(even) {
  padding-left: 5px;
}

.sc-stats > .sc-stat:nth-child(odd) {
  padding-right: 5px;
}

.sc-limit:before {
  content: '8';
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 1;
  font-size: 13px;
  font-family: 'Pictos';
  transform: rotate(90deg);
  pointer-events: none;
  opacity: 0.3;
}

.sc-stat > label > input[type="number"] {
  width: 100% !important;
  height: 100%;
  padding: 0;
  border: none;
  text-align: center;
}

.sc-skill-group {
  align-items: center;
}

.sc-skill-group > button[type=roll],
.sc-skill-group > h3.line-input {
  flex: 1;
  height: 2em;
  text-align: left;
  background-image: none;
}
