.sc-wrapper {
  position: relative;
  width: 800px;
  height: 500px;
  padding: 26px 20px 40px 20px;
  box-sizing: border-box;
  z-index: 1;
}

@keyframes daicomIntro {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes daicomLockWrapper {
  0% {
    border-color: #FFF;
    box-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF inset;
  }
  45% {
    border-color: #FFF;
    box-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF inset;
  }
  55% {
    border-color: rgb(49 206 38);
    box-shadow: 0px 0px 5px rgb(49 206 38), 0px 0px 5px rgb(49 206 38) inset;
  }
  100% {
    border-color: rgb(49 206 38);
    box-shadow: 0px 0px 5px rgb(49 206 38), 0px 0px 5px rgb(49 206 38) inset;
  }
}

@keyframes daicomLock {
  0% {
    opacity: 0;
    filter: none;
  }
  10% {
    opacity: 1;
  }
  30% {
    transform: translateX(0);
  }
  45% {
    filter: none;
  }
  50% {
    transform: translateX(120px);
  }
  55% {
    filter: brightness(0.7) sepia(1) hue-rotate(60deg) saturate(2) drop-shadow(0px 0px 2px rgb(49 206 38));
  }
  100% {
    transform: translateX(120px);
    filter: brightness(0.7) sepia(1) hue-rotate(60deg) saturate(2) drop-shadow(0px 0px 2px rgb(49 206 38));
  }
}

@keyframes daicomLogo {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes daicomLine {
  0% {
    opacity: 0;
  }
  10% {
    width: 200px;
    opacity: 0;
  }
  20% {
    width: 180px;
    opacity: 1;
  }
  70% {
    width: 180px;
    opacity: 1;
  }
  90% {
    width: 90px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.sc-daicom {
  position: absolute;
  top: 25px;
  left: 16px;
  right: 16px;
  bottom: 45px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.75);
  animation: daicomIntro linear 2s;
}

.sc-daicom:before {
  content: ' ';
  width: 190px;
  height: 88px;
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/daicom-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  animation: daicomLogo ease-out 2s;
  filter: drop-shadow(0 0 2px #000);
  z-index: 5;
}

.sc-daicom:after {
  content: ' ';
  width: 180px;
  height: 2px;
  margin-top: -25px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #0ABDC6;
  background-color: #0ABDC6;
  animation: daicomLine ease-in 2s;
  pointer-events: none;
  z-index: 4;
}

.sc-daicom-lock {
  position: absolute;
  height: 50px;
  left: 300px;
  right: 300px;
  bottom: 100px;
  border: 1px solid #FFF;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: daicomLockWrapper ease-in-out 2s;
  z-index: 5;
}

.sc-daicom-lock:after {
  content: ' ';
  height: 35px;
  width: 35px;
  margin-left: 5px;
  border: 1px solid #FFF;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/lock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0.7) sepia(1) hue-rotate(60deg) saturate(2) drop-shadow(0px 0px 2px rgb(49 206 38));
  animation: daicomLock ease-in-out 2s;
}

.sc-wrapper:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/tablet-backdrop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.sc-wrapper * {
  font-size: 1em;
  font-family: 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sc-frame {
  height: 100%;
  overflow: hidden;
  background-color: #151515;
  box-shadow: 0px 0px 32px #0abdc6 inset;
  padding: 18px 2px 20px 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select,
input,
button { margin: 0; }

.sc-wrapper .fw { width: 100%; }
.sc-wrapper .tqw { width: 75%; }
.sc-wrapper .hw { width: 50%; }
.sc-wrapper .tw { width: 33.333%; }
.sc-wrapper .qw { width: 25%; }

.sc-wrapper .fcol,
.sc-wrapper .frow { display: flex; }
.fcol { flex-direction: column; }
.frow { flex-direction: row; }

.fwrap { flex-wrap: wrap; }

input[type=hidden][name="attr_gender"]:not(input[value="other"]) ~ .sc-frame input.line-input[name="attr_gender_other"] {
  display: none;
}

.sc-tabs-heading {
  align-items: center;
}

.sc-tabs-heading > h3 {
  margin-right: 8px;
  font-size: 18px;
  font-family: 'Contrail One';
  color: #FFF;
}

.sc-tabs-heading > h3 > span {
  color: rgb(49 206 38);
  text-shadow: 0px 0px 5px rgb(49 206 38);
  margin-left: 4px;
  letter-spacing: -3px;
}

.sc-tabs-header {
  position: relative;
  width: auto;
  height: auto;
  border: none;
  flex: 1;
  border-radius: 8px 8px 0 0;
  padding: 5px 5px 5px 20px;
  font-size: 18px;
  font-family: 'Contrail One';
  background-color: #151515;
  color: #FFF;
  border: 1px solid #EA00D9;
  border-bottom: none;
  text-shadow: 0px 0px 5px #EA00D9;
  background-color: #EA00D9;
  box-shadow: 0px 0px 5px #EA00D9;
}

input[type=hidden][name="attr_current_tab"]:not(input[value="character"]) ~ .sc-frame .sc-tab.character,
input[type=hidden][name="attr_current_tab"]:not(input[value="skills"]) ~ .sc-frame .sc-tab.skills,
input[type=hidden][name="attr_current_tab"]:not(input[value="weapons"]) ~ .sc-frame .sc-tab.weapons,
input[type=hidden][name="attr_current_tab"]:not(input[value="inventory"]) ~ .sc-frame .sc-tab.inventory {
  display: none;
}

input[type=hidden]:not([value="on"]).toggle-control ~ .togglable {
  display: none;
}

.sc-body {
  height: 100%;
  color: #FFF;
}

.sc-tab {
  position: relative;
  flex: 1;
  border-radius: 18px 0 18px 18px;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #EA00D9;
  box-shadow: 0px 0px 5px #EA00D9, 0px 0px 5px #EA00D9 inset;
  overflow: auto;
  z-index: 1;
}

.sc-tab button.repcontrol_add,
.sc-tab button.repcontrol_edit,
.sc-tab button.repcontrol_del,
.sc-tab a.repcontrol_move {
  position: relative;
  width: 60px;
  margin: 4px;
  padding: 4px 8px;
  border: none;
  box-shadow: 0px 0px 5px #EA00D9;
  background: #EA00D9;
  text-shadow: none;
  color: transparent;
  z-index: 3;
}

.sc-tab button.repcontrol_add:before,
.sc-tab button.repcontrol_edit:before,
.sc-tab button.repcontrol_del:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #FFF;
  font-family: 'Contrail One';
  line-height: 26px;
  font-size: 15px;
}

.sc-tab .repcontainer > .repitem:first-child > .itemcontrol {
  border-radius: 14px 0 0 0;
}

.sc-tab .repcontainer > .repitem:last-child > .itemcontrol {
  border-radius: 0 0 14px 14px;
}

.sc-tab button.repcontrol_add:before {
  content: 'Ajouter';
}

.sc-tab button.repcontrol_edit:before {
  content: 'Modifier';
}

.sc-tab button.repcontrol_del,
.sc-tab a.repcontrol_move {
  width: 25px;
  height: 25px;
  padding: 0;
}

.sc-tab button.repcontrol_del {
  background: #BB1F1F;
  box-shadow: 0px 0px 5px #BB1F1F;
}

.sc-tab button.repcontrol_del:before {
  content: '*';
  font-family: 'Pictos';
}

.sc-tab a.repcontrol_move {
  background: #EA00D9;
  box-shadow: 0px 0px 5px #EA00D9;
  color: #FFF;
  font-size: 24px;
}

.sc-tab .repcontainer.editmode ~ .repcontrol button.repcontrol_edit:before {
  content: 'Retour';
}

.sc-wrapper .line-input {
  margin: 2px 0;
  padding: 2px 4px;
  border: none;
  height: 2.4em;
  line-height: 2em;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}

.sc-infos {
  width: 100px;
  align-items: stretch;
}

.sc-infos * {
  color: #FFF;
}

.sc-infos > .frow > input {
  flex: 1;
}

.sc-infos span {
  font-family: 'Contrail One';
  margin-right: 8px;
}

.sc-infos input:last-child,
.sc-infos select:last-child {
  flex: 1;
}

.sc-infos > * {
  width: 100%;
}

.sc-infos .line-input {
  font-size: 12px;
}

.sc-infos select.line-input {
  width: auto;
  background-color: #151515;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 11px;
}

.sc-stat {
  margin: 12px 0;
  align-items: flex-end;
}

.sc-stat h3 {
  flex: 1;
  text-align: left;
  font-family: 'Contrail One';
}

.sc-stats > .sc-stat:nth-child(even) {
  flex-direction: row-reverse;
}

.sc-stats > .sc-stat:nth-child(even) h3 {
  text-align: right;
}

.sc-stat label {
  position: relative;
  height: 30px;
  width: 30px;
  padding: 0;
  margin-bottom: 0;
  background-color: #03383B;
  border: 1px solid #0abdc6;
  text-shadow: 0px 0px 3px #0abdc6;
  box-shadow: 0px 0px 5px #0abdc6, 0px 0px 5px #0abdc6 inset;
}

.sc-stat label:nth-child(even) {
  border-radius: 0 4px 4px 0;
}

.sc-stats > .sc-stat:nth-child(odd) {
  padding-right: 5px;
}
.sc-stat label:nth-child(odd) {
  border-radius: 4px 0 0 4px;
}

.sc-stat label.sc-limit {
  border-left: none;
}

.sc-limit:before {
  content: '8';
  position: absolute;
  top: -1px;
  right: 3px;
  z-index: 1;
  font-size: 11px;
  font-family: 'Pictos';
  transform: rotate(90deg);
  pointer-events: none;
  color: #ea00d9;
  text-shadow: 0px 0px 5px #ea00d9;
}

.sc-stat label > input[type="number"] {
  width: 100% !important;
  height: 100%;
  padding: 0;
  text-align: center;
  background-color: transparent;
  color: #0abdc6;
  border: none;
}

.skills-list {
  padding: 10px 0;
  border-top: none;
}

.list-spacer {
  width: 80%;
  height: 2px;
  margin: 10px auto 0 auto;
  background-color: rgb(49 206 38);
  box-shadow: 0px 0px 5px rgb(49 206 38);
  border-radius: 2px;
}

.skill {
  width: 95%;
  margin: 4px auto;
  border-radius: 4px;
}

.sc-skill-group,
.sc-skill {
  align-items: center;
  border-radius: 4px;
}

.sc-skill-group {
  padding: 4px 6px;
}

.sc-skill {
  position: relative;
  padding: 1px 6px 4px 8px;
}

.sc-skill-group .toggle-input {
  margin: 0;
  margin-right: 8px;
}

.toggle-input > input[type=checkbox] {
  display: none;
}

.toggle-input {
  width: 20px !important;
  height: 20px !important;
  padding: 4px !important;
  box-sizing: border-box;
  transform: rotate(45deg);
  border: 1px solid rgb(49 206 38);
  box-shadow: 0px 0px 3px rgb(49 206 38), 0px 0px 3px rgb(49 206 38) inset;
  border-radius: 3px;
  flex-grow: 0;
  flex-shrink: 0;
}

.toggle-input > input[type=checkbox]:checked ~ .toggle-button {
  transform: rotate(90deg);
}

.toggle-input:hover {
  cursor: pointer;
}

.toggle-button {
  height: 100%;
  width: 100%;
  border-top: 2px solid rgb(49 206 38);
  border-right: 2px solid rgb(49 206 38);
  transition: 0.1s ease-in-out;
  filter: drop-shadow(0px 0px 2px rgb(49 206 38));
}

.skill-prefix {
  margin-left: 3px;
  margin-right: 4px;
  color: rgb(49 206 38);
  text-shadow: 0px 0px 5px rgb(49 206 38);
  font-size: 16px;
  font-weight: bold;
}

.skl-total > input[type=number] {
  width: 1em !important;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 16px;
}

.skl-total > input[type=number],
.skl-total > span {
  color: #0ABDC6;
  text-shadow: 0 0 5px #0ABDC6;
  font-family: 'Contrail One';
}

.skl-total > span {
  font-size: 12px;
}

.skill-bonus {
  align-items: center;
  justify-content: center;
  margin: 0 6px 0 2px;
}

.skill-bonus:after {
  content: 'Bonus';
  font-family: 'Contrail One';
  color: #ea00d9;
  text-shadow: 0px 0px 5px #ea00d9;
  text-align: center;
}

.skill-plus {
  align-items: center;
  justify-content: center;
}

.skill-plus:before {
  content: '+';
  font-family: 'Contrail One';
  color: #ea00d9;
  text-shadow: 0px 0px 5px #ea00d9;
  margin-right: 2px;
  line-height: 15px;
  font-size: 20px;
}

.skl-bonus {
  width: 18px !important;
  height: 18px !important;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ea00d9;
  color: #FFF;
  font-size: 11px;
  font-family: 'Contrail One';
  box-shadow: 0px 0px 5px #ea00d9, 0px 0px 5px #ea00d9 inset;
  background-color: transparent;
}

.skl-total.sc-hidden {
  visibility: hidden;
}

.sc-skill-group > button[type=action],
.sc-skill > button[type=action],
.sc-skill-group > h3.line-input {
  flex: 1;
  height: 2em;
  text-align: left;
  background-image: none;
  border-bottom: none;
}

.sc-skill-group > button[type=action],
.sc-skill-group > h3.line-input {
  font-weight: bold;
  font-size: 1.3em !important;
}

.sc-skill-group > h3.line-input {
  color: #0ABDC6;
  text-shadow: 0 0 5px #0ABDC6;
}

.sc-skill > button[type=action] {
  font-size: 1em !important;
}

.sc-skill > button[type=action],
.sc-skill-group > button[type=action] {
  background-color: #03383B;
  margin: 0 4px;
  padding: 0 8px;
  border-radius: 2px;
  line-height: 20px;
  font-family: 'Contrail One';
  box-shadow: 0 0 4px #03383B;
  color: #0ABDC6;
  text-shadow: 0 0 5px #0abdc699;
  border: 1px solid transparent;
  font-weight: normal;
  transition: 0.1s;
}

input[type=hidden].mastered-control[value="1"] ~ button[type=action].line-input {
  background-color: rgb(82 73 9);
  color: rgb(255 227 25);
  text-shadow: 0px 0px 5px rgb(255 227 25);
  box-shadow: 0px 0px 5px rgb(255 227 25), 0px 0px 5px rgb(255 227 25) inset;
  border-color: rgb(255 227 25);
}

.sc-skill-group > h3.line-input {
  font-style: italic;
}

.sc-skill-group > button[type=action]:before,
.sc-skill > button[type=action]:before {
  font-family: 'dicefontd6' !important;
  content: 'F ' !important;
  font-size: 20px;
}

.skill-stat {
  border: 1px solid #0ABDC6;
  color: #0ABDC6;
  box-shadow: 0px 0px 5px #0ABDC6, 0px 0px 5px inset #0ABDC6;
  text-shadow: 0px 0px 5px #0ABDC6;
  font-family: 'Contrail One';
  width: 32px;
  border-radius: 4px;
  text-align: center;
  margin: 0 1px;
  padding: 1px 0;
}

.skill-stat.full {
  width: 66px;
}

/* .sc-skill-group > button[type=roll]:before {
  content: 'l ' !important;
} */

.sc-skill-group > input[type=checkbox],
.sc-skill > input[type=checkbox],
.sc-skill-group > .skill-checkbox,
.sc-skill > .skill-checkbox {
  margin: 0 2px;
}

.sc-skill > .skill-checkbox.skill-known {
  border-right: none;
  border-radius: 0 0 2px;
  margin-right: 0;
}

.sc-skill > .skill-checkbox.skill-mastered {
  border-left: none;
  border-radius: 0 2px 2px 0;
  margin-left: 0;
}

.skill-checkbox > input[type=checkbox] {
  display: none;
}

.skill-checkbox {
  position: relative;
  width: 25px !important;
  height: 25px;
  padding: 0 !important;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #151515;
  z-index: 2;
}

.skill-checkbox.skill-known {
  border-color: #D200C3;
  box-shadow: 0px 0px 5px #D200C3;
}

.skill-checkmark {
  width: 100%;
  height: 100%;
  transition: 0.1s;
}

.skill-checkbox:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.skill-checkbox.skill-known:before {
  box-shadow: 0px 0px 5px #D200C3 inset;
}

.skill-checkbox.skill-mastered:before {
  box-shadow: 0px 0px 5px #BB1F1F;
}

.skill-checkmark:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  filter: contrast(0) brightness(2);
  transition: 0.1s;
  z-index: 3;
}

.skill-checkmark.known:after {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/known.png");
}

.skill-checkbox.skill-mastered {
  border-color: #BB1F1F;
  box-shadow: 0px 0px 5px #BB1F1F inset;
}

.skill-checkmark.mastered:after {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/mastered.png");
}

.skill-checkbox:hover {
  cursor: pointer;
}

.skill-checkbox > input[type=checkbox]:checked ~ .skill-checkmark.known {
  background-color: #d200c3;
}

.skill-checkbox > input[type=checkbox]:checked ~ .skill-checkmark.mastered {
  background-color: #981212;
}

.skill-checkbox > input[type=checkbox]:checked ~ .skill-checkmark:after {
  filter: none;
}

.weapon input.line-input {
  color: #FFF;
}

.weapon select {
  width: auto !important;
}

.weapon-details {
  padding: 4px 8px;
}

.wdescription {
  position: relative;
  width: 90%;
  height: 75px;
  margin: 8px auto 0 auto;
}

.wdescription:before,
.wdescription:after {
  content: '"';
  position: absolute;
  top: -10px;
  color: #EA00D9;
  text-shadow: 0px 0px 5px #EA00D9;
  font-size: 24px;
}

.wdescription:before {
  left: -15px;
}

.wdescription:after {
  right: -15px;
}

.wdescription > textarea {
  height: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  font-style: italic;
  color: #FFF;
  text-align: justify;
}

.sc-wname {
  align-items: stretch;
  padding: 4px 8px;
  box-sizing: border-box;
  margin: 4px 0;
}

.sc-wname > button[type="action"] {
  margin-left: 8px;
  font-family: 'dicefontd6';
  font-size: 32px;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.sc-wname .toggle-input {
  margin: 0;
  margin-right: 4px;
  align-self: center;
}

.sc-wname > input[type=text] {
  flex: 1;
  margin-bottom: 0 !important;
}

.wdamage {
  position: relative;
  margin-top: 25px;
}

.wdamage:before,
.wdamage:after,
.wdamage > span.penetration:after {
  top: -20px;
  font-family: 'Contrail One';
  font-size: 10px;
}

.wdamage:before,
.wdamage:after,
.wdamage > span:before,
.wdamage > span:after {
  position: absolute;
  color: #EA00D9;
  text-shadow: 0px 0px 5px #EA00D9;
  pointer-events: none;
}

.wdamage:before {
  content: 'Coups';
  left: 0;
}

.wdamage:after {
  content: 'Blessures';
  left: 31px;
}

.wdamage > span:not(.penetration):before,
.wdamage > span:not(.penetration):after {
  content: 'v';
  top: -9px;
}

.wdamage > span:not(.penetration):before {
  left: 7px;
}

.wdamage > span:not(.penetration):after {
  left: 43px;
}

.wdamage > span.penetration:before {
  content: 'v';
  font-family: 'Contrail One';
  top: -9px;
  left: 79px;
}

.wdamage > span.penetration:after {
  content: 'Perforation';
  left: 74px;
}

span.penetration {
  font-family: 'Pictos Custom' !important;
}

input[type="hidden"][name="attr_wimage"][value="none"] ~ .weapon .weapon-image {
  display: none;
}

.weapon-image {
  width: 350px;
  height: 120px;
  margin: 4px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: contrast(0.5) sepia(1) hue-rotate(250deg) brightness(1.5) contrast(1.5) saturate(3) drop-shadow(0px 0px 3px #EA00D9);
}

input[type="hidden"][name="attr_wimage"][value="knife"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/knife.png");
}

input[type="hidden"][name="attr_wimage"][value="baton"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/baton.png");
}

input[type="hidden"][name="attr_wimage"][value="daix"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/daix.png");
}

input[type="hidden"][name="attr_wimage"][value="scorpion"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/scorpion.png");
}

input[type="hidden"][name="attr_wimage"][value="m30"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/m30.png");
}

input[type="hidden"][name="attr_wimage"][value="acp9"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/acp9.png");
}

input[type="hidden"][name="attr_wimage"][value="dmpc"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/dmpc.png");
}

input[type="hidden"][name="attr_wimage"][value="dmp10"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/dmp10.png");
}

input[type="hidden"][name="attr_wimage"][value="kampfer"] ~ .weapon .weapon-image {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/kampfer.png");
}

.wdamage > input[type=number],
.wdamage > span,
.sc-wname > input[type=number],
.sc-wname > span {
  width: 18px !important;
  text-align: center;
  background-color: transparent;
  font-family: 'Contrail One';
  border: none;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  border-radius: 0;
}

.wdamage > span,
.sc-wname > span {
  color: #EA00D9;
  text-shadow: 0px 0px 5px #EA00D9;
  padding-top: 5px;
}

.wdamage > select {
  background-color: #151515;
  border-radius: 4px;
  transition: 0.1s;
  flex: 1;
  margin-left: 8px;
}

input[name="attr_wwounds_type"][type="hidden"][value="inc"] ~ .weapon .sc-wname button[type="action"] {
  color: #0ABDC6;
  text-shadow: 0px 0px 2px #0ABDC6;
}

input[name="attr_wwounds_type"][type="hidden"][value="leg"] ~ .weapon .sc-wname button[type="action"] {
  color: rgb(49 206 38);
  text-shadow: 0px 0px 2px rgb(49 206 38);
}

input[name="attr_wwounds_type"][type="hidden"][value="mod"] ~ .weapon .sc-wname button[type="action"] {
  color: rgb(255 227 25);
  text-shadow: 0px 0px 2px rgb(255 227 25);
}

input[name="attr_wwounds_type"][type="hidden"][value="gra"] ~ .weapon .sc-wname button[type="action"] {
  color: #BB1F1F;
  text-shadow: 0px 0px 2px #BB1F1F;
}

input[name="attr_wwounds_type"][type="hidden"][value="inc"] ~ .weapon .wdamage select[name="attr_wwounds_type"] {
  color: #0ABDC6;
  text-shadow: 0px 0px 5px #0ABDC6;
  border: 1px solid #0ABDC6;
  box-shadow: 0px 0px 5px #0ABDC6, 0px 0px 5px #0ABDC6 inset;
}

input[name="attr_wwounds_type"][type="hidden"][value="leg"] ~ .weapon .wdamage select[name="attr_wwounds_type"] {
  color: rgb(49 206 38);
  text-shadow: 0px 0px 5px rgb(49 206 38);
  border: 1px solid rgb(49 206 38);
  box-shadow: 0px 0px 5px rgb(49 206 38), 0px 0px 5px rgb(49 206 38) inset;
}

input[name="attr_wwounds_type"][type="hidden"][value="mod"] ~ .weapon .wdamage select[name="attr_wwounds_type"] {
  color: rgb(255 227 25);
  text-shadow: 0px 0px 5px rgb(255 227 25);
  border: 1px solid rgb(255 227 25);
  box-shadow: 0px 0px 5px rgb(255 227 25), 0px 0px 5px rgb(255 227 25) inset;
}

input[name="attr_wwounds_type"][type="hidden"][value="gra"] ~ .weapon .wdamage select[name="attr_wwounds_type"] {
  color: #BB1F1F;
  text-shadow: 0px 0px 5px #BB1F1F;
  border: 1px solid #BB1F1F;
  box-shadow: 0px 0px 5px #BB1F1F, 0px 0px 5px #BB1F1F inset;
}

input[name="attr_archetype"][value="custom"] ~ .weapon .noneditable,
input[name="attr_archetype"]:not(input[value="custom"]) ~ .weapon .editable {
  display: none;
}

input[name="attr_archetype"]:not(input[value="custom"]) ~ .weapon select.noneditable {
  pointer-events: none;
}

.weapon-archetype {
  align-items: center;
}

.weapon-archetype > select[name="attr_wtype"] {
  flex: 1;
}

.wcaliber > select {
  flex: 1;
}

.wcaliber {
  position: relative;
  align-items: center;
  margin-top: 4px;
}

.wcaliber:after {
  position: absolute;
  font-size: 11px;
  color: #EA00D9;
  text-shadow: 0px 0px 5px #EA00D9;
  font-family: 'Contrail One';
}

.caliber-img {
  width: 150px;
  height: 30px;
  margin-left: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: contrast(0.5) sepia(1) hue-rotate(250deg) brightness(1.5) contrast(1.5) saturate(3) drop-shadow(0px 0px 3px #EA00D9);
}

input[name="attr_wcaliber"][type="hidden"][value="antimaterial"] ~ .weapon .caliber-img {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/caliber-127mm.png");
}

input[name="attr_wcaliber"][type="hidden"][value="pistol_light"] ~ .weapon .caliber-img {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/caliber-9mm.png");
}

input[name="attr_wcaliber"][type="hidden"][value="pistol_heavy"] ~ .weapon .caliber-img {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/caliber-10mm.png");
}

input[name="attr_wcaliber"][type="hidden"][value="rifle_light"] ~ .weapon .caliber-img {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/caliber-550mm.png");
}

input[name="attr_wcaliber"][type="hidden"][value="rifle_heavy"] ~ .weapon .caliber-img {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/caliber-760mm.png");
}

input[name="attr_wcaliber"][type="hidden"][value="shell"] ~ .weapon .caliber-img {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/caliber-shell.png");
}

input[name="attr_wcaliber"][type="hidden"][value="pistol_light"] ~ .weapon .wcaliber:after {
  content: '9x19mm Parabellum';
  top: 11px;
  right: 0px;
}

input[name="attr_wcaliber"][type="hidden"][value="pistol_heavy"] ~ .weapon .wcaliber:after {
  content: '10mm Magnum';
  top: 11px;
  right: 8px;
}

input[name="attr_wcaliber"][type="hidden"][value="rifle_light"] ~ .weapon .wcaliber:after {
  content: '5x50mm';
  top: 11px;
  right: 93px;
}

input[name="attr_wcaliber"][type="hidden"][value="rifle_heavy"] ~ .weapon .wcaliber:after {
  content: '7x60mm';
  top: 11px;
  right: 93px;
}

input[name="attr_wcaliber"][type="hidden"][value="antimaterial"] ~ .weapon .wcaliber:after {
  content: '12.7mm';
  top: 11px;
  right: 90px;
}

input[name="attr_wcaliber"][type="hidden"][value="shell"] ~ .weapon .wcaliber:after {
  content: 'Calibre 12';
  top: 11px;
  right: 90px;
}

input[type="hidden"][name="attr_wtype"][value="onehanded"] ~ .weapon .wcaliber,
input[type="hidden"][name="attr_wtype"][value="twohanded"] ~ .weapon .wcaliber,
input[type="hidden"][name="attr_wtype"][value="shield"] ~ .weapon .wcaliber,
input[type="hidden"][name="attr_wtype"][value="melee"] ~ .weapon .wcaliber {
  display: none;
}

.weapon .subtopic {
  color: #FFF;
  font-family: 'Contrail One';
  margin-right: 8px;
}

.weapon .subtopic > span {
  color: rgb(49 206 38);
  text-shadow: 0px 0px 5px rgb(49 206 38);
  margin-left: 4px;
  letter-spacing: -3px;
}

.wounds-wrapper {
  flex-shrink: 0;
  flex-grow: 0;
}

.wounds-wrapper > div {
  position: relative;
}

.wound-annotation {
  display: none;
  position: absolute;
  height: 22px;
  top: 0;
  left: 100%;
  white-space: nowrap;
  color: #F00;
  text-shadow: 0px 0px 3px #F00;
  font-family: 'Patrick Hand';
  font-weight: normal;
}

.wounds-wrapper input[type=hidden][value="3"] ~ .wound-annotation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wounds-wrapper > h2 {
  width: 100px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-family: 'Contrail One';
  font-weight: bold;
}

.wounds-wrapper label,
.wounds-wrapper h3 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
}

.wounds-wrapper h3 {
  font-size: 10px;
  font-variant: small-caps;
  font-family: 'Candal';
  font-weight: normal;
}

.wounds-wrapper label:hover {
  cursor: pointer;
}

.wounds-wrapper input[type=radio] {
  display: none;
}

.wound-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.1s;
}

.wound-bullet > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: normal;
  font-family: 'Contrail One';
  font-size: 12px;
  line-height: 20px;
  text-shadow: 0px 0px 3px #333;
}

.wounds-wrapper input[type=radio] ~ .wound-bullet.inc {
  border-color: #0ABDC6;
  box-shadow: 0px 0px 5px #0ABDC6, 0px 0px 5px #0ABDC6 inset;
}

.wounds-wrapper input[type=radio] ~ .wound-bullet.leg {
  border-color: rgb(49 206 38);
  box-shadow: 0px 0px 5px rgb(49 206 38), 0px 0px 5px rgb(49 206 38) inset;
}

.wounds-wrapper input[type=radio] ~ .wound-bullet.mod {
  border-color: rgb(255 227 25);
  box-shadow: 0px 0px 5px rgb(255 227 25), 0px 0px 5px rgb(255 227 25) inset;
}

.wounds-wrapper input[type=radio] ~ .wound-bullet.gra {
  border-color: #BB1F1F;
  box-shadow: 0px 0px 5px #BB1F1F, 0px 0px 5px #BB1F1F inset;
}

.wounds-wrapper input[type=radio]:checked ~ .wound-bullet.inc {
  background-color: #0ABDC6;
}

.wounds-wrapper input[type=radio]:checked ~ .wound-bullet.leg {
  background-color: rgb(49 206 38);
}

.wounds-wrapper input[type=radio]:checked ~ .wound-bullet.mod {
  background-color: rgb(255 227 25);
}

.wounds-wrapper input[type=radio]:checked ~ .wound-bullet.gra {
  background-color: #BB1F1F;
}

/*
**  Human silhouette - Default
*/

.silhouette-wrapper {
  position: relative;
  height: 100%;
  padding-left: 4px;
  box-sizing: border-box;
  z-index: 2;
}

.silhouette-wrapper > * {
  z-index: 2;
}

.character-silhouette {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: flex-start;
  pointer-events: none;
  filter: brightness(0.55) sepia(1) saturate(2.4) hue-rotate(60deg) drop-shadow(0px 0px 2px rgb(49 206 38));
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/human_sil_m.png");
  z-index: 1;
  animation: pulseOpacity ease-in-out 3.5s infinite;
}

input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/human_sil_f.png");
}

/*
**  Doppleganger silhouette
*/

input[type=hidden][name="attr_race"][value="doppleganger"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/doppleganger_sil_m.png");
}

input[type=hidden][name="attr_race"][value="doppleganger"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/doppleganger_sil_f.png");
}

/*
**  Endaari silhouette
*/

input[type=hidden][name="attr_race"][value="endaari"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/endaari_sil_m.png");
}

input[type=hidden][name="attr_race"][value="endaari"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/endaari_sil_f.png");
}

/*
**  Alkor silhouette
*/

input[type=hidden][name="attr_race"][value="alkor"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/alkor_sil_m.png");
}

input[type=hidden][name="attr_race"][value="alkor"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/alkor_sil_f.png");
}

/*
**  Drone silhouette
*/

input[type=hidden][name="attr_race"][value="drone"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/drone_sil_f.png");
}

.sheet-rolltemplate-general .sheet-rolltemplate-container,
.sheet-rolltemplate-attack .sheet-rolltemplate-container {
  background-color: #333;
  border-radius: 4px;
  border: 1px solid #777;
  overflow: hidden;
}

.sheet-rolltemplate-general .sheet-rolltemplate-container > h3,
.sheet-rolltemplate-attack .sheet-rolltemplate-container > h3 {
  text-align: center;
  font-family: 'Contrail One';
  background-color: #FFF;
  color: #333;
  margin-bottom: 4px;
  padding: 4px 0;
}

.sheet-rolltemplate-general .sheet-rolltemplate-results,
.sheet-rolltemplate-attack .sheet-rolltemplate-results {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'dicefontd6';
  padding: 4px;
  box-sizing: border-box;
}

.sheet-rolltemplate-general .sheet-rolltemplate-results > span,
.sheet-rolltemplate-attack .sheet-rolltemplate-results > span {
  font-size: 40px;
  padding: 0;
  width: min-content;
  word-spacing: 9999px;
  line-height: 32px;
  border: none !important;
  background-color: transparent;
  color: #FFF;
}

.sheet-rolltemplate-general .sheet-rolltemplate-footer,
.sheet-rolltemplate-attack .sheet-rolltemplate-footer {
  color: #FFF;
  font-size: 15px;
  text-align: right;
  padding: 0 6px 1px 0;
  font-family: 'Patrick Hand';
  box-sizing: border-box;
  font-style: italic;
}

.sheet-rolltemplate-attack .sheet-rolltemplate-hits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: 'Contrail One';
}
