.sc-wrapper {
  position: relative;
  width: 800px;
  height: 500px;
  padding: 34px 25px 39px 25px;
  box-sizing: border-box;
  z-index: 1;
}

.sc-wrapper:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/tablet-backdrop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.sc-wrapper * {
  font-size: 1em;
  font-family: 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sc-frame {
  height: 100%;
  overflow: hidden;
  background-color: #151515;
  box-shadow: 0px 0px 32px #0abdc6 inset;
  padding: 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select,
input,
button { margin: 0; }

.sc-wrapper .fw { width: 100%; }
.sc-wrapper .tqw { width: 75%; }
.sc-wrapper .hw { width: 50%; }
.sc-wrapper .tw { width: 33.333%; }
.sc-wrapper .qw { width: 25%; }

.sc-wrapper .fcol,
.sc-wrapper .frow { display: flex; }
.fcol { flex-direction: column; }
.frow { flex-direction: row; }

.fwrap { flex-wrap: wrap; }

input[type=hidden][name="attr_gender"]:not(input[value="other"]) ~ .sc-frame input.line-input[name="attr_gender_other"] {
  display: none;
}

.sc-tabs-header {
  position: relative;
  width: auto;
  height: auto;
  border: none;
  margin: 10px 10px 0 10px;
  border-radius: 8px;
  padding: 5px 5px 5px 20px;
  font-size: 18px;
  font-family: 'Contrail One';
  background-color: #151515;
  color: #0abdc6;
  border: 1px solid #0abdc6;
  text-shadow: 0px 0px 5px #0abdc6;
  box-shadow: 0px 0px 5px #0abdc6, 0px 0px 5px #0abdc6 inset;
}

input[type=hidden][name="attr_current_tab"]:not(input[value="character"]) ~ .sc-frame .sc-tab.character,
input[type=hidden][name="attr_current_tab"]:not(input[value="skills"]) ~ .sc-frame .sc-tab.skills {
  display: none;
}

input[type=hidden]:not([value="on"]).toggle-control + .togglable {
  display: none;
}

.sc-body {
  height: 100%;
  color: #FFF;
}

.sc-tab {
  position: relative;
  flex: 1;
  margin-top: 10px;
  border-radius: 18px;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #EA00D9;
  box-shadow: 0px 0px 5px #EA00D9, 0px 0px 5px #EA00D9 inset;
  overflow: auto;
  z-index: 1;
}

.sc-wrapper .line-input {
  margin: 2px 0;
  padding: 2px 4px;
  border: none;
  height: 2.4em;
  line-height: 2em;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #CCC;
}

.sc-infos {
  align-items: center;
}

.sc-infos * {
  color: #FFF;
}

.sc-infos span {
  font-family: 'Contrail One';
  margin-right: 8px;
}

.sc-infos input:last-child,
.sc-infos select:last-child {
  flex: 1;
}

.sc-infos select.line-input {
  width: auto;
  background-color: #151515;
  border-radius: 0;
}

.sc-stat {
  margin: 12px 0;
  align-items: flex-end;
}

.sc-stat h3 {
  flex: 1;
  text-align: left;
  font-family: 'Contrail One';
}

.sc-stats > .sc-stat:nth-child(even) {
  flex-direction: row-reverse;
}

.sc-stats > .sc-stat:nth-child(even) h3 {
  text-align: right;
}

.sc-stat label {
  position: relative;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid #CCC;
  margin-bottom: 0;
}

.sc-stats > .sc-stat:nth-child(even) {
  padding-left: 5px;
}

.sc-stats > .sc-stat:nth-child(odd) {
  padding-right: 5px;
}

.sc-stat label.sc-limit {
  border-left: none;
}

.sc-limit:before {
  content: '8';
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 1;
  font-size: 13px;
  font-family: 'Pictos';
  transform: rotate(90deg);
  pointer-events: none;
  opacity: 0.3;
}

.sc-stat label > input[type="number"] {
  width: 100% !important;
  height: 100%;
  padding: 0;
  border: none;
  text-align: center;
}

.skills-list {
  padding: 10px 0;
  border-top: none;
}

.skill {
  width: 95%;
  margin: 4px auto;
  border-radius: 4px;
}

.sc-skill-group,
.sc-skill {
  align-items: center;
  border-radius: 4px;
}

.sc-skill-group {
  padding: 4px 6px;
}

.sc-skill {
  position: relative;
  padding: 1px 8px 4px 8px;
}

.sc-skill-group .toggle-input {
  margin: 0;
  margin-right: 8px;
}

.toggle-input > input[type=checkbox] {
  display: none;
}

.toggle-input {
  width: 20px !important;
  height: 20px !important;
  padding: 4px !important;
  box-sizing: border-box;
  transform: rotate(45deg);
  border: 1px solid rgb(49 206 38);
  box-shadow: 0px 0px 3px rgb(49 206 38), 0px 0px 3px rgb(49 206 38) inset;
  border-radius: 3px;
}

.toggle-input > input[type=checkbox]:checked ~ .toggle-button {
  transform: rotate(90deg);
}

.toggle-input:hover {
  cursor: pointer;
}

.toggle-button {
  height: 100%;
  width: 100%;
  border-top: 2px solid rgb(49 206 38);
  border-right: 2px solid rgb(49 206 38);
  border-radius: 2px;
  transition: 0.1s ease-in-out;
  filter: drop-shadow(0px 0px 2px rgb(49 206 38));
}

.skill-prefix {
  margin-left: 3px;
  margin-right: 4px;
  color: rgb(49 206 38);
  text-shadow: 0px 0px 5px rgb(49 206 38);
  font-size: 16px;
  font-weight: bold;
}

.skl-total > input[type=number] {
  width: 1em !important;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #0ABDC6;
  text-shadow: 0 0 5px #0ABDC6;
  font-size: 16px;
}

.skl-total,
.skl-total > input[type=number] {
  font-family: 'Contrail One';
}

.skill-bonus {
  align-items: center;
  justify-content: center;
  margin: 0 6px 0 2px;
}

.skill-bonus:after {
  content: 'Bonus';
  font-family: 'Contrail One';
  color: #ea00d9;
  text-shadow: 0px 0px 5px #ea00d9;
  text-align: center;
}

.skill-plus {
  align-items: center;
  justify-content: center;
}

.skill-plus:before {
  content: '+';
  font-family: 'Contrail One';
  color: #ea00d9;
  text-shadow: 0px 0px 5px #ea00d9;
  margin-right: 2px;
  line-height: 15px;
  font-size: 20px;
}

.skl-bonus {
  width: 18px !important;
  height: 18px !important;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ea00d9;
  color: #FFF;
  font-size: 11px;
  font-family: 'Contrail One';
  box-shadow: 0px 0px 5px #ea00d9, 0px 0px 5px #ea00d9 inset;
  background-color: transparent;
}

.skl-total.sc-hidden {
  visibility: hidden;
}

.sc-skill-group > button[type=action],
.sc-skill > button[type=action],
.sc-skill-group > h3.line-input {
  flex: 1;
  height: 2em;
  text-align: left;
  background-image: none;
  border-bottom: none;
}

.sc-skill-group > button[type=action],
.sc-skill-group > h3.line-input {
  font-weight: bold;
  font-size: 1.3em !important;
}

.sc-skill-group > h3.line-input {
  color: #0ABDC6;
  text-shadow: 0 0 5px #0ABDC6;
}

.sc-skill > button[type=action] {
  font-size: 1em !important;
}

.sc-skill > button[type=action],
.sc-skill-group > button[type=action] {
  background-color: #03383B;
  margin: 0 4px;
  padding: 0 8px;
  border-radius: 2px;
  line-height: 20px;
  font-family: 'Contrail One';
  box-shadow: 0 0 4px #03383B;
  color: #0ABDC6;
  text-shadow: 0 0 5px #0ABDC6;
  font-weight: normal;
}

.sc-skill-group > h3.line-input {
  font-style: italic;
}

.sc-skill-group > button[type=action]:before,
.sc-skill > button[type=action]:before {
  font-family: 'dicefontd6' !important;
  content: 'F ' !important;
  font-size: 20px;
}

.skill-stat {
  border: 1px solid #0ABDC6;
  color: #0ABDC6;
  box-shadow: 0px 0px 5px #0ABDC6, 0px 0px 5px inset #0ABDC6;
  text-shadow: 0px 0px 5px #0ABDC6;
  font-family: 'Contrail One';
  width: 32px;
  border-radius: 4px;
  text-align: center;
  margin: 0 1px;
  padding: 1px 0;
}

.skill-stat.full {
  width: 66px;
}

/* .sc-skill-group > button[type=roll]:before {
  content: 'l ' !important;
} */

.sc-skill-group > input[type=checkbox],
.sc-skill > input[type=checkbox],
.sc-skill-group > .skill-checkbox,
.sc-skill > .skill-checkbox {
  margin: 0 2px;
}

.skill-checkbox > input[type=checkbox] {
  display: none;
}

.skill-checkbox {
  position: relative;
  width: 25px !important;
  height: 25px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
}

.skill-checkbox.skill-known {
  border-color: #D200C3;
  box-shadow: 0px 0px 5px #D200C3, 0px 0px 5px #D200C3 inset;
}

.skill-checkbox:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  filter: contrast(0) brightness(2);
}

.skill-checkbox.skill-known:before {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/known.png");
}

.skill-checkbox.skill-mastered {
  border-color: #BB1F1F;
  box-shadow: 0px 0px 5px #BB1F1F, 0px 0px 5px #BB1F1F inset;
}

.skill-checkbox.skill-mastered:before {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock-v2/gui/mastered.png");
}

.skill-checkbox:hover {
  cursor: pointer;
}

.skill-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.1s;
}

.skill-checkbox > input[type=checkbox]:checked ~ .skill-checkmark.known {
  background-color: #d200c3;
}

.skill-checkbox > input[type=checkbox]:checked ~ .skill-checkmark:before {
  filter: none;
}

.skill-checkbox > input[type=checkbox]:checked ~ .skill-checkmark.mastered {
  background-color: #981212;
}

.aside-right {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.character-wounds {
  position: absolute;
  top: 0;
  left: 0;
}

.character-wounds > div {
  position: relative;
}

.wound-annotation {
  display: none;
  position: absolute;
  height: 22px;
  top: 0;
  left: 100%;
  white-space: nowrap;
  color: #F00;
  text-shadow: 0px 0px 3px #F00;
  font-family: 'Patrick Hand';
  font-weight: normal;
}

.character-wounds input[type=hidden][value="3"] ~ .wound-annotation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-wounds > h2 {
  width: 100px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-family: 'Contrail One';
  font-weight: bold;
}

.character-wounds label,
.character-wounds h3 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
}

.character-wounds h3 {
  font-size: 10px;
  font-variant: small-caps;
  font-family: 'Candal';
  font-weight: normal;
}

.character-wounds label:hover {
  cursor: pointer;
}

.character-wounds input[type=radio] {
  display: none;
}

.wound-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #FFF;
  transition: 0.1s;
}

.wound-bullet > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: normal;
  font-family: 'Contrail One';
  font-size: 12px;
  line-height: 20px;
  text-shadow: 0px 0px 3px #333;
}

.character-wounds input[type=radio] ~ .wound-bullet.inc {
  border-color: #0ABDC6;
  box-shadow: 0px 0px 5px #0ABDC6, 0px 0px 5px #0ABDC6 inset;
}

.character-wounds input[type=radio] ~ .wound-bullet.leg {
  border-color: rgb(49 206 38);
  box-shadow: 0px 0px 5px rgb(49 206 38), 0px 0px 5px rgb(49 206 38) inset;
}

.character-wounds input[type=radio] ~ .wound-bullet.mod {
  border-color: rgb(255 227 25);
  box-shadow: 0px 0px 5px rgb(255 227 25), 0px 0px 5px rgb(255 227 25) inset;
}

.character-wounds input[type=radio] ~ .wound-bullet.gra {
  border-color: #BB1F1F;
  box-shadow: 0px 0px 5px #BB1F1F, 0px 0px 5px #BB1F1F inset;
}

.character-wounds input[type=radio]:checked ~ .wound-bullet.inc {
  background-color: #0ABDC6;
}

.character-wounds input[type=radio]:checked ~ .wound-bullet.leg {
  background-color: rgb(49 206 38);
}

.character-wounds input[type=radio]:checked ~ .wound-bullet.mod {
  background-color: rgb(255 227 25);
}

.character-wounds input[type=radio]:checked ~ .wound-bullet.gra {
  background-color: #BB1F1F;
}

/*
**  Human silhouette - Default
*/

input[type=hidden][name="attr_race"] ~ .character-silhouette {
  height: 400px;
  margin: auto;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: flex-start;
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/human_sil_m.png");
}

input[type=hidden][name="attr_race"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/human_sil_f.png");
}

/* input[type=hidden][name="attr_race"] ~ .character-silhouette .character-location.head {
  top: 5px;
  left: 75px;
}

input[type=hidden][name="attr_race"] ~ .character-silhouette .character-location.left-arm {
  top: 110px;
  left: 35px;
}

input[type=hidden][name="attr_race"] ~ .character-silhouette .character-location.right-arm {
  top: 110px;
  right: 45px;
}

input[type=hidden][name="attr_race"] ~ .character-silhouette .character-location.torso {
  top: 100px;
  left: 125px;
}

input[type=hidden][name="attr_race"] ~ .character-silhouette .character-location.left-leg {
  top: 280px;
  left: 60px;
}

input[type=hidden][name="attr_race"] ~ .character-silhouette .character-location.right-leg {
  top: 280px;
  right: 70px;
} */

/*
**  Doppleganger silhouette
*/

input[type=hidden][name="attr_race"][value="doppleganger"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/doppleganger_sil_m.png");
}

input[type=hidden][name="attr_race"][value="doppleganger"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/doppleganger_sil_f.png");
}

/*
**  Endaari silhouette
*/

input[type=hidden][name="attr_race"][value="endaari"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/endaari_sil_m.png");
}

input[type=hidden][name="attr_race"][value="endaari"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/endaari_sil_f.png");
}

/*
**  Alkor silhouette
*/

input[type=hidden][name="attr_race"][value="alkor"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/alkor_sil_m.png");
  width: 200px;
}

input[type=hidden][name="attr_race"][value="alkor"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/alkor_sil_f.png");
}

/*
**  Drone silhouette
*/

input[type=hidden][name="attr_race"][value="drone"] ~ input[type=hidden][name="attr_gender"][value="f"] ~ .character-silhouette {
  background-image: url("https://raw.githubusercontent.com/FalconPilot/roll20-sheets/master/sheets/starclock/gui/drone_sil_f.png");
  width: 225px;
}

.sheet-rolltemplate-general .sheet-rolltemplate-container {
  background-color: #333;
  border-radius: 4px;
  border: 1px solid #777;
  overflow: hidden;
}

.sheet-rolltemplate-general .sheet-rolltemplate-container > h3 {
  text-align: center;
  font-family: 'Contrail One';
  background-color: #FFF;
  color: #333;
  margin-bottom: 4px;
  padding: 4px 0;
}

.sheet-rolltemplate-general .sheet-rolltemplate-results {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'dicefontd6';
  padding: 4px;
  box-sizing: border-box;
}

.sheet-rolltemplate-general .sheet-rolltemplate-results > span {
  font-size: 40px;
  padding: 0;
  width: min-content;
  word-spacing: 9999px;
  line-height: 32px;
  border: none !important;
  background-color: transparent;
  color: #FFF;
}

.sheet-rolltemplate-general .sheet-rolltemplate-footer {
  color: #FFF;
  font-size: 15px;
  text-align: right;
  padding: 0 6px 1px 0;
  font-family: 'Patrick Hand';
  box-sizing: border-box;
  font-style: italic;
}
