<div class="sc-header frow fw fwrap">
  <input
    type="text"
    class="line-input fw"
    name="attr_character_name"
    placeholder="Nom du personnage"
  />
  <select name="attr_race" class="line-input qw">
    <option selected disabled>Race (?)</option>
    <option value="human">Humain</option>
    <option value="doppleganger">Doppleganger</option>
    <option value="endaari">Endaari</option>
    <option value="alkor">Alkor</option>
    <option value="drone">Drone</option>
    <option value="troll">Troll</option>
    <option value="changeling">Changelin</option>
  </select>
  <input
    type="number"
    class="line-input"
    name="attr_age"
    placeholder="Âge"
  />
  <span class="line-input">ans</span>
  <select name="attr_gender" class="line-input">
    <option selected disabled>Genre (?)</option>
    <option value="m">Masculin</option>
    <option value="f">Féminin</option>
    <option value="other">Autre</option>
  </select>
  <input
    type="text"
    class="line-input"
    name="attr_gender_other"
    placeholder="Genre"
  />
</div>
