<div class="ndfh-global">
  <input type="hidden" name="attr_sheet_type" />
  <div class="ndfh-wrapper character">
    <%- include('./character/core.ejs', { constants }) %>
  </div>
  <div class="ndfh-wrapper logistics">
    <%- include('./logistics/core.ejs', { constants }) %>
  </div>
</div>
